<ngx-simplebar class="h-[calc(100vh-340px)]">
    <div class="card-body bg-default-50">
        <div class="flex flex-col gap-5">
            <div class="flex gap-3 items-end">
                <a [routerLink]="[]" class="flex items-center justify-center text-sm font-semibold rounded-full size-9 bg-default-200">
                    <img src="assets/images/user/avatar-7.png" alt="" class="object-cover rounded-full h-9">
                </a>

                <div class="p-4 card  text-default-700 text-sm">
                    Sure, I have my pen and paper ready.
                </div>
            </div>

            <div class="flex gap-3 justify-end items-end">
                <div class="w-92 p-4 card text-default-700 text-sm">
                    Great. Please read the notes of our last meeting for us.
                </div>

                <a [routerLink]="[]" class="flex items-center justify-center text-sm font-semibold rounded-full size-9 bg-default-200">
                    <img src="assets/images/user/avatar-1.png" alt="" class="object-cover rounded-full h-9">
                </a>
            </div>

            <div class="flex gap-3 items-end">
                <div>
                    <a [routerLink]="[]" class="flex items-center justify-center text-sm font-semibold rounded-full size-9 bg-default-200">
                        <img src="assets/images/user/avatar-7.png" alt="" class="object-cover rounded-full h-9">
                    </a>
                </div>

                <div class="flex flex-col gap-3">
                    <div class="w-92 p-4 card">
                        <div class="text-default-700 text-sm">
                            Okay. First, we talked about the budget for next year.
                        </div>
                        <div class="grid grid-cols-3 gap-4 mt-4">
                            <a [routerLink]="[]">
                                <img src="assets/images/small/img-3.jpg" alt="" class="rounded-md">
                            </a>
                            <a [routerLink]="[]">
                                <img src="assets/images/small/img-5.jpg" alt="" class="rounded-md">
                            </a>
                        </div>
                    </div>

                    <div class="w-77 p-4 card text-default-700 text-sm">
                        I will budget is getting smaller every year.
                    </div>

                    <div class="w-92 p-4 card text-default-700 text-sm">
                        Second, we talked about the new products we are going to selling.
                    </div>

                    <div class="w-92 p-4 card text-default-700 text-sm">
                        O.K. Third, we talked about the profits that we had last month. And fourth, we talked about the bills we had to pay.
                    </div>
                </div>
            </div>

            <div class="flex gap-3 justify-end items-end">
                <div class="w-92 p-4 card text-default-700 text-sm">
                    Sorry, William. O.K. We have a few things to talk about today. would you like to give your report.
                </div>

                <a [routerLink]="[]" class="flex items-center justify-center text-sm font-semibold rounded-full size-9 bg-default-200">
                    <img src="assets/images/user/avatar-1.png" alt="" class="object-cover rounded-full h-9">
                </a>
            </div>

            <div class="flex gap-3 items-end">
                <a [routerLink]="[]" class="flex items-center justify-center text-sm font-semibold rounded-full size-9 bg-default-200">
                    <img src="assets/images/user/avatar-7.png" alt="" class="object-cover rounded-full h-9">
                </a>

                <div class="w-92 p-4 card text-default-700 text-sm">
                    Yes, thank you 🤩. I have a sales graph I would like to show everyone. This shows how well we are selling our products this year.
                </div>
            </div>

            <div class="flex gap-3 justify-end items-end">
                <div class="w-92 p-4 card text-default-700 text-sm">
                    Thank you 🤩, William. Very good. Tom, do you have anything to tell everyone.
                </div>

                <a [routerLink]="[]" class="flex items-center justify-center text-sm font-semibold rounded-full size-9 bg-default-200">
                    <img src="assets/images/user/avatar-1.png" alt="" class="object-cover rounded-full h-9">
                </a>
            </div>
        </div>
    </div>
</ngx-simplebar>