{% extends './base.html' %}

{% load static i18n django_vite %}

{% block html_attribute %}{% endblock html_attribute %}

{% block title %}{% endblock title %}

{% block styles %}{% endblock styles %}

{% block body_attribute %}{% endblock body_attribute %}

{% block preloader %}{% endblock preloader %}

{% block page_content %}

<div class="wrapper">

  {% include 'partials/sidenav.html' %}

  <div class="page-content">

    {% include 'partials/topbar.html' %}

    <main>
      {% block content %}{% endblock content %}
    </main>

    {% include 'partials/footer.html' %}

  </div>

</div>

{% include 'partials/customizer.html' %}

{% block modal %}{% endblock modal %}

{% endblock page_content %}

{% block scripts %}{% endblock scripts %}
