<main>

    <app-page-title title="Leave Manage (HR)" subtitle="Hr" />


    <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-5 mb-5">
        @for (item of leaveSummaryData; track $index) {
        <div class="card">
            <div class="card-body">
                <div class="flex items-center gap-3">
                    <div class="btn {{ item.iconColor }} {{ item.iconBg }} size-12">
                        <div class="size-6"><ng-icon [name]="item.icon"></ng-icon></div>
                    </div>

                    <div>
                        <h5 class="mb-1 text-base text-heading font-semibold">
                            {{ item.count }}
                        </h5>
                        <p class="text-default-500">{{ item.label }}</p>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>


    <div class="grid grid-cols-1 gap-5 mb-5">
        <div class="card">
            <div class="card-header flex justify-between items-center">
                <div class="relative">
                    <input type="email" class="form-input form-input-sm ps-9" placeholder="Search for....">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3">
                        <div class="size-4 flex items-center text-default-500"> <ng-icon name="lucideSearch"></ng-icon></div>
                    </div>
                </div>

                <button class="btn btn-sm bg-primary text-white">
                    <div class="size-4 me-1"><ng-icon name="lucideDownload"></ng-icon></div> Export
                </button>
            </div>

            <div class="flex flex-col">
                <div class="overflow-x-auto">
                    <div class="min-w-full inline-block align-middle">
                        <div class="overflow-hidden">
                            <table class="min-w-full  divide-y divide-default-200">
                                <thead class="bg-default-150">
                                    <tr class="text-sm font-normal text-default-500 whitespace-nowrap">
                                        <th scope="col" class="px-3.5 py-3 text-start">
                                            #
                                        </th>
                                        <th scope="col" class="px-3.5 py-3 text-start">Employee Name</th>
                                        <th scope="col" class="px-3.5 py-3 text-start">Leave Type</th>
                                        <th scope="col" class="px-3.5 py-3 text-start">Reason</th>
                                        <th scope="col" class="px-3.5 py-3 text-start">No Of Days</th>
                                        <th scope="col" class="px-3.5 py-3 text-start">From</th>
                                        <th scope="col" class="px-3.5 py-3 text-start">to</th>
                                        <th scope="col" class="px-3.5 py-3 text-start">Status</th>
                                        <th scope="col" class="px-3.5 py-3 text-start">Action</th>
                                    </tr>
                                </thead>

                                <tbody class="divide-y divide-default-200">
                                    @for (app of leaveApplications; track app.id) {
                                    <tr class="text-default-800 font-normal">
                                        <td class="px-3.5 py-2.5 whitespace-nowrap text-sm">
                                            {{ app.id < 10 ? '0' + app.id : app.id }} </td>
                                        <td class="px-3.5 py-2.5 whitespace-nowrap text-sm">{{ app.employeeName }}</td>
                                        <td class="px-3.5 py-2.5 whitespace-nowrap text-sm">{{ app.leaveType }}</td>
                                        <td class="px-3.5 py-2.5 whitespace-nowrap text-sm">{{ app.reason }}</td>
                                        <td class="px-3.5 py-2.5 whitespace-nowrap text-sm">
                                            {{ app.days < 10 ? '0' + app.days : app.days }} </td>
                                        <td class="px-3.5 py-2.5 whitespace-nowrap text-sm">{{ app.startDate }}</td>
                                        <td class="px-3.5 py-2.5 whitespace-nowrap text-sm">{{ app.endDate }}</td>
                                        <td class="px-3.5 py-2.5 whitespace-nowrap">
                                            <span class="inline-flex items-center gap-x-1.5 py-0.5 px-2.5 rounded text-xs font-medium" [ngClass]="{
                                                    'bg-success/15 text-success': app.status === 'Approved',
                                                    'bg-warning/15 text-warning': app.status === 'Pending',
                                                    'bg-secondary/10 text-secondary': app.status === 'New',
                                                    'bg-danger/10 text-danger': app.status === 'Declined'
                                                }">
                                                {{ app.status }}
                                            </span>
                                        </td>
                                        <td class="px-3.5 py-2.5 whitespace-nowrap">
                                            <div class="flex items-center gap-2">
                                                <a [routerLink]="[]" class="btn size-8 bg-default-200 hover:bg-default-600 hover:text-white text-default-600">
                                                    <div class="size-4"><ng-icon name="lucidePencil"></ng-icon></div>
                                                </a>
                                                <a [routerLink]="[]" class="btn size-8 bg-success/15 hover:bg-success hover:text-white text-success">
                                                    <div class="size-4"><ng-icon name="lucideCheck"></ng-icon></div>
                                                </a>
                                                <a [routerLink]="[]" class="btn size-8 bg-danger/10 hover:bg-danger hover:text-white text-danger" aria-haspopup="dialog" aria-expanded="false" aria-controls="hr-leave-delete-modal" data-hs-overlay="#hr-leave-delete-modal">
                                                    <div class="size-4"><ng-icon name="lucideTrash2"></ng-icon></div>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="text-default-500 text-sm">Showing <b>10</b> of <b>17</b> Results</p>
                    <app-pagination />
                </div>
            </div>
        </div>
    </div>
</main>
<app-delete-modal />