/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

/* Tailwind CSS */
@import "tailwindcss";
@import "preline/variants.css";

/* Your Custom CSS */
@import "./assets/css/themes.css";
@import "./assets/css/structure/_general.css";
@import "./assets/css/structure/_sidenav.css";
@import "./assets/css/structure/_topbar.css";
@import "./assets/css/custom/_reboot.css";
@import "./assets/css/custom/_helper.css";
@import "./assets/css/custom/_buttons.css";
@import "./assets/css/custom/_card.css";
@import "./assets/css/custom/_dropdown.css";
@import "./assets/css/custom/_forms.css";
@import "./assets/css/custom/_print.css";
@import "./assets/css/custom/_chart.css";
@import "./assets/css/custom/_simplebar.css";
@import "./assets/css/custom/_calendar.css";

/* Then non-CSS @source or JS references */
@source "preline/dist/*.js";
@source "./swiper/swiper-bundle.min.css";

/* Tailwind plugins */
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";