<main>
 
<app-page-title title="Grid View" subtitle="Ecommerce" />


    <div class="grid lg:grid-cols-4 grid-cols-1 gap-5">
        <div class="col-span-1 lg:block hidden">
            <div class="card">
                <div class="card-body">
                    <div class="flex items-center justify-between gap-3">
                        <h6 class="card-title">Filter</h6>
                        <div class="shrink-0">
                            <a [routerLink]="[]" class="underline transition-all duration-200 text-default-700 text-sm ease-linear hover:text-primary">Clear All
                            </a>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="relative">
                            <input type="text" id="hs-leading-icon" name="hs-leading-icon" class="ps-9 form-input form-input-sm w-full" placeholder="Search for...">
                            <div class="absolute inset-y-0 start-0 flex items-center z-20 ps-3">
                               <div  class="size-3.5 text-default-600"> <ng-icon name="lucideSearch" ></ng-icon></div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                       <app-product-sidebar/>
                    </div>
                </div>
            </div>
        </div>

        <div class="lg:col-span-3 col-span-1">
              
            <app-product-nav/>

            <div class="flex items-center mt-3 gap-3">
                <span class="flex items-center gap-1 rounded-full px-2.5 py-0.75 border border-default-200 text-xs">
                    High to Low
                    <a [routerLink]="[]" class="align-middle transition-al duration-300">
                       <div class="size-3"> <ng-icon name="lucideX"  ></ng-icon></div>
                    </a>
                </span>

                <span class="flex items-center gap-1 rounded-full  px-2.5 py-0.75 border border-default-200 text-xs">
                    New
                    <a [routerLink]="[]" class="align-middle transition-al duration-300">
                         <div class="size-3"> <ng-icon name="lucideX"  ></ng-icon></div>
                    </a>
                </span>

                <a [routerLink]="[]" class="py-0.75 px-2.5 text-xs rounded-md transition-all duration-300 hover:bg-default-150">
                    All Clear
                </a>
            </div>
  
            <app-products/>
         
            <div class="flex flex-wrap md:justify-between justify-center md:gap-0 gap-4 mt-5">
                <p class="text-default-500 text-sm">Showing <b>07</b> of <b>19</b> Results</p>

                
                   <app-pagination />
                
            </div>
        </div>
    </div>
</main>