<main>

<app-page-title title="Notes" subtitle="Menu" />

    <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-5">
        @for(item of itemdata; track $index){
        <div class="card">
            <div class="card-body">
                <div class="flex flex-col justify-between h-full">
                    <div class="mb-5 flex justify-between items-center gap-2">
                        <div class="flex gap-2 items-center">
                            <div class="hs-dropdown relative inline-flex">
                                <button type="button" class="hs-dropdown-toggle size-4 border border-dashed rounded-full dropdown-toggle shrink-0 {{item.dropdownColor}} {{item.dropdownBorder}}" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown"></button>
                                <div class="hs-dropdown-menu" role="menu">
                                    <a class="flex items-center gap-x-3.5 py-1.5 font-medium px-3 text-default-600 hover:bg-default-150 rounded" [routerLink]="[]">Personal</a>
                                    <a class="flex items-center gap-x-3.5 py-1.5 font-medium px-3 text-default-600 hover:bg-default-150 rounded" [routerLink]="[]">Busssiness</a>
                                    <a class="flex items-center gap-x-3.5 py-1.5 font-medium px-3 text-default-600 hover:bg-default-150 rounded" [routerLink]="[]">Social</a>
                                    <a class="flex items-center gap-x-3.5 py-1.5 font-medium px-3 text-default-600 hover:bg-default-150 rounded" [routerLink]="[]">Home</a>
                                </div>
                            </div>
                            <h5 class="card-title">{{item.title}}</h5>
                        </div>

                        <div class="hs-dropdown relative inline-flex">
                            <button type="button" class="hs-dropdown-toggle btn size-7.5 bg-default-200 hover:bg-default-600 text-default-500 hover:text-white" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                                <div class="size-4"><ng-icon name="lucideEllipsis" ></ng-icon></div>
                            </button>
                            <div class="hs-dropdown-menu" role="menu">
                                <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded" [routerLink]="[]">
                                    <div class="size-3"><ng-icon name="lucideEye" ></ng-icon></div> Overview
                                </a>
                                <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded" [routerLink]="[]">
                                    <div class="size-3"><ng-icon name="lucideFilePen" ></ng-icon></div> Edit
                                </a>
                                <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded" [routerLink]="[]">
                                    <div class="size-3"><ng-icon name="lucideTrash2" ></ng-icon></div> Delete
                                </a>
                            </div>
                        </div>
                    </div>

                    @if(!item.list){
                    <p class="text-default-700 text-sm">{{item.description}}</p>
                    }

                    @if(item.list){
                    <p class="text-default-800 font-semibold text-sm">{{item.description}}</p>
                    <ol class="flex flex-col text-default-600 gap-1 text-sm mt-1">
                        @for(step of item.list; track $index){
                        <li>{{step}}</li>
                        }
                    </ol>
                    }

                    <div class="mt-4 flex justify-between gap-3 items-center">
                        <div  class="{{item.starColor}} size-5"><ng-icon name="lucideStar" ></ng-icon></div>
                        <p class="text-default-500 text-sm">{{item.date}}</p>
                    </div>
                </div>
            </div>
        </div>
        }

    </div>
</main>