<main>
     <app-page-title title="HR" subtitle="Dashboards" />

    <app-hero />

    <div class="grid lg:grid-cols-2 grid-cols-1 gap-5 mb-5">
        <div class="col-span-1">
            <app-hr-metrics />
        </div>
        <div class="col-span-1">
            <app-application-chart />
        </div>
    </div>

    <div class="grid lg:grid-cols-4 grid-cols-1 gap-5">
        <div class="lg:col-span-3 col-span-1">

            <app-performance />

            <div class="grid lg:grid-cols-3 col-span-1 gap-5">
                <div class="col-span-1">
                    <app-total-project />
                </div>

                <div class="col-span-1">
                    <app-upcoming-interview />
                </div>

                <div class="col-span-1">
                    <div class="relative mb-5 bg-gradient-to-r to-primary/50  from-transparent rounded-md shadow-md">
                        <div class="bg-[url('/assets/images/hr-dashboard.png')] absolute inset-0 bg-cover opacity-30"></div>

                        <div class="relative card-body">
                            <div class="flex gap-3 mb-4">
                                <div class="bg-purple-500/10 rounded-full size-10">
                                    <img src="assets/images/user/avatar-6.png" alt="" class="h-10 rounded-full">
                                </div>

                                <div>
                                    <h6 class="mb-1 text-sm text-default-800">Nakisha Short</h6>
                                    <p class="text-default-600">Her Birthday Today</p>
                                </div>
                            </div>
                            <button type="button" class="btn btn-sm bg-primary text-white">Wish Her</button>
                        </div>

                        <img src="assets/images/birthday.png" alt="" class="absolute bottom-0 right-0">
                    </div>

                    <app-payroll />
                </div>
            </div>
        </div>

        <div class="col-span-1">
            <app-upcoming-scheduled />
        </div>
    </div>

</main>