@page "/layouts-rtl-mode"
@model Tailwick.Pages.Layouts.RtlModeModel

@{
    ViewBag.Title = "RTL Mode";
    ViewBag.Subtitle = "Layouts";
    ViewBag.HTMLAttributes = "dir=rtl";
}

@section styles
{

}

@await Html.PartialAsync("~/Pages/Shared/Partials/_PageTitle.cshtml")

<div class="card h-40">
</div>

@section scripts
{

}
