@page "/pages-404"
@model Tailwick.Pages.Pages.Error404Model

@{
    ViewBag.Title = "404";
    Layout = "~/Pages/Shared/_BaseLayout.cshtml";
}

@section styles
{

}

<div
    class="bg-cover bg-no-repeat bg-[url('../images/auth-bg.jpg')] dark:bg-[url('../images/auth-bg-dark.jpg')] h-screen w-full flex justify-center items-center">
    <div class="relative">
        <div class="bg-default-50 rounded-lg w-lg relative">
            <div class="text-center px-10 py-12">
                <a class="flex justify-center" href="/">
                    <img alt="logo dark" class="h-6 block dark:hidden" src="/images/logo-dark.png"/>
                    <img alt="" class="h-6 hidden dark:block" src="/images/logo-light.png"/>
                </a>
                <div class="mt-10">
                    <img alt="" class="h-64 mx-auto" src="/images/error-404.png"/>
                </div>
                <div class="mt-8 text-center">
                    <h4 class="mb-2 text-purple-500 dark:text-white text-xl font-semibold">OPPS, PAGE NOT FOUND</h4>
                    <p class="mb-6 text-base text-default-500">It will be as straightforward as Occidental; in fact, it
                        will be just like Occidental to an English speaker.</p>
                    <a href="/">
                        <button
                            class="bg-primary text-white hover:bg-blue-600 rounded text-[13px] py-2 px-4 inline-flex items-center"
                            type="button">
                            <i class="size-3 me-1" data-lucide="home"></i>
                            Back to Home
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Pages/Shared/Partials/_Customizer.cshtml")

@section scripts
{

}
