@page "/pages-starter"
@model Tailwick.Pages.Pages.StarterModel

@{
    ViewBag.Title = "Starter Page";
    ViewBag.Subtitle = "Pages";
}

@section styles
{

}

@await Html.PartialAsync("~/Pages/Shared/Partials/_PageTitle.cshtml")

<div class="card h-40">
</div>

@section scripts
{

}
