<section id="pricing" class="relative lg:pb-24 md:pb-18 pb-12">
    <div class="container">
        <div class="flex flex-col gap-y-16">
            <div class="text-center lg:w-3xl mx-auto">
                <h1 class="mb-4 leading-relaxed text-4xl font-semibold text-default-800">Tailored Website Design Package</h1>
                <p class="text-lg text-default-500">A good web design package will include designing a logo,ingratiation with local SEO, linking a site to a social media presence, and more.
                </p>
            </div>

            <div class="grid lg:grid-cols-4 md:grid-cols-2 gap-5 mb-6">
                @for (plan of plans; track $index) {
                <div class="card relative overflow-hidden">
                    <div class="card-body">

                        @if (plan.saleBadge) {
                        <div class="size-16 absolute top-0 end-0">
                            <div class="absolute bg-primary text-center w-42.5 text-white py-1 transform rotate-45 top-6 -end-12 font-semibold">
                                {{ plan.saleBadge }}
                            </div>
                        </div>
                        }

                        <h5 class="mb-2 flex items-center gap-1.5">
                            <div class="{{ plan.iconColor }} size-5">
                                <ng-icon [name]="plan.icon"></ng-icon>
                            </div>
                            <span class="text-lg font-semibold text-default-800">{{ plan.title }}</span>
                        </h5>

                        <p class="mb-4 text-default-500">{{ plan.description }}</p>

                        <h1 class="mb-4 text-4xl text-default-800 font-normal">
                            <span class="text-default-400">$</span>{{ plan.price }}
                            <small class="text-base text-default-500">{{ plan.period }}</small>
                        </h1>

                        <button type="button" class="btn border w-full border-dashed border-primary bg-transparent text-primary hover:bg-primary/20">
                            {{ plan.buttonText }}
                        </button>

                        <ul class="mt-5 flex flex-col gap-3 text-sm">
                            @for (feature of plan.features; track $index) {
                            <li class="flex items-center gap-2.5">
                                @if (feature.available) {
                                <div class="size-4 text-success">
                                    <ng-icon name="lucideCheckCheck"></ng-icon>
                                </div>
                                <span class="text-default-900">
                                    @if (feature.highlight) { <b>{{ feature.highlight }}</b> }
                                    {{ feature.label }}
                                </span>
                                } @else {
                                <div class="size-4 text-danger">
                                    <ng-icon name="lucideX"></ng-icon>
                                </div>
                                <del class="text-default-500">
                                    @if (feature.highlight) { <b>{{ feature.highlight }}</b> }
                                    {{ feature.label }}
                                </del>
                                }
                            </li>
                            }
                        </ul>

                    </div>
                </div>
                }
            </div>

        </div>
    </div>
</section>