<main>
 
    <app-page-title title="List View" subtitle="Invoice" />


     <div class="grid lg:grid-cols-4 grid-cols-1 gap-5">
             
                    <app-list-sidebar />

                    <div class="lg:col-span-3 col-span-1">
                        <div class="card">
                            <div class="card-body">
                                <div class="flex flex-wrap justify-between items-center md:gap-0 gap-4">
                                    <div>
                                        <h6 class="mb-1 text-base font-semibold text-default-800">#TW15090257</h6>
                                        <ul class="flex items-center gap-3 text-default-500 text-sm">
                                            <li>Create: 10 July, 2023</li>
                                            <li>Due: 10 July, 2023</li>
                                        </ul>
                                    </div>

                                    <div class="flex gap-2">
                                        <button class="btn bg-primary text-white" onclick="window.print()"> <div class="size-4 text-white me-1"><ng-icon name="lucideSave"></ng-icon></div> Save & Draft</button>

                                        <div class="hs-dropdown relative inline-flex">
                                            <button type="button" class="hs-dropdown-toggle btn size-9.5 bg-default-100 hover:bg-default-600 text-default-500 hover:text-white" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown" hs-dropdown-placement="bottom-end">
                                                 <div class="size-4 "><ng-icon name="lucideEllipsis"></ng-icon></div>
                                            </button>
                                            <div class="hs-dropdown-menu" role="menu">
                                                <div>
                                                    <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-sm text-default-500 hover:bg-default-150 rounded" [routerLink]="[]">
                                                        <div class="size-3"><ng-icon name="lucideFilePen"></ng-icon></div>
                                                        Edit
                                                    </a>
                                                    <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-sm text-default-500 hover:bg-default-150 rounded" [routerLink]="[]">
                                                       <div class="size-3"> <ng-icon name="lucideTrash2"></ng-icon></div>
                                                        Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                               <app-list-overview />
                            </div>
                        </div>
                    </div>
                </div>
</main>