<div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-5 mt-5">
    @for (product of products; track product.id) {
    <div class="card">
        <div class="card-body relative">
            <img [src]="product.image" [alt]="product.name" />

            @if (product.isFavorite) {
            <div class="size-5 text-danger fill-danger/15 absolute top-6 end-6">
                <ng-icon name="lucideHeart"></ng-icon>
            </div>
            } @else {
            <div class="size-5 text-default-500 fill-default-100 absolute top-6 end-6">
                <ng-icon name="lucideHeart"></ng-icon>
            </div>
            }
        </div>

        <div class="pb-5 px-5">
            <h6 class="text-base text-default-800 font-semibold hover:text-primary transition-all mb-2">
                <a [routerLink]="[]">{{ product.name }}</a>
            </h6>


            <div class="flex items-center gap-1">
                <div class="flex items-center gap-0.25 text-yellow-500">
                    @for (star of [1,2,3,4,5]; track star) {
                    @if (product.rating >= star) {
                    <div class="size-4 fill-yellow-500">
                        <ng-icon name="tablerStarFill"></ng-icon>
                    </div>
                    } @else if (product.rating >= star - 0.5) {
                    <div class="size-4 fill-yellow-500">
                        <ng-icon name="tablerStarHalfFill"></ng-icon>
                    </div>
                    } @else {
                    <div class="size-4">
                        <ng-icon name="lucideStar"></ng-icon>
                    </div>
                    }
                    }
                </div>
                <span class="text-default-500">({{ product.ratingCount }})</span>
            </div>


            <h5 class="mt-4 text-base font-semibold text-default-800">
                ${{ product.price }}
                @if (product.oldPrice) {
                <small class="line-through font-medium text-default-500">
                    {{ product.oldPrice }}
                </small>
                }
            </h5>


            <div class="flex items-center gap-2 mt-4">
                <button class="border border-default-600 w-full text-default-500 border-dashed btn">
                    <div class="size-3"><ng-icon name="lucideShoppingCart"></ng-icon></div>
                    Add to Cart
                </button>

                <div class="hs-dropdown relative inline-flex">
                    <button type="button" class="hs-dropdown-toggle btn size-9 bg-default-200 hover:bg-default-600 text-default-500 hover:text-white" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown" hs-dropdown-placement="bottom-end">
                        <div class="size-4"><ng-icon name="lucideEllipsis"></ng-icon></div>
                    </button>
                    <div class="hs-dropdown-menu" role="menu">
                        <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded" [routerLink]="[]">
                            <div class="size-3"><ng-icon name="lucideEye"></ng-icon></div>
                            Overview
                        </a>
                        <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded" [routerLink]="[]">
                            <div class="size-3"><ng-icon name="lucideFilePen"></ng-icon></div>
                            Edit
                        </a>
                        <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded" [routerLink]="[]">
                            <div class="size-3"><ng-icon name="lucideTrash2"></ng-icon></div>
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

</div>