{% extends 'layouts/vertical.html.twig' %}

{% block html_attributes %}data-sidenav-size="hidden"{% endblock %}

{% set title = 'Hidden Sidenav' %}

{% block styles %}

{% endblock %}

{% block content %}

{{ include('partials/page-title.html.twig', {'subtitle': 'Layouts'}, {'title': 'Hidden Sidenav'}) }}

                <div class="card h-40">
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
