{% extends 'layouts/vertical.html.twig' %}

{% set title = 'RTL Mode' %}

{% block html_attributes %}dir="rtl"{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}

{{ include('partials/page-title.html.twig', {'subtitle': 'Layouts'}, {'title': 'RTL Mode'}) }}

                <div class="card h-40">
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
