{% extends 'layouts/vertical.html.twig' %}

{% set title = 'Starter Page' %}

{% block styles %}{% endblock %}

{% block content %}

	{{ include('partials/page-title.html.twig', {'subtitle': 'Menu'}, {'title': 'Starter Page'}) }}

	<div class="card h-40"></div>
{% endblock %}

{% block scripts %}{% endblock %}
