<div class="p-5 card mb-5">
    <h6 class="card-title mb-4">Orders Summary</h6>
    <div class="px-4 py-3 mb-4 text-danger rounded-md bg-red-50">
        These products are limited, checkout within <span class="font-bold">03m 21s</span>
    </div>
    <div class="">
        @for(item of cartItems; track $index){
        <div class="flex justify-between items-center gap-5 py-4 border-b border-dashed border-default-200">
            <div class="flex items-center gap-3">
                <div class="flex items-center justify-center rounded-md size-12 bg-default-100">
                    <img [src]="item.image" alt="" class="h-8">
                </div>

                <div>
                    <h6 class="mb-1 text-[15px] text-default-800 font-semibold">
                        <a [href]="item.link" class="transition-all duration-300 ease-linear hover:text-primary">{{ item.name }}</a>
                    </h6>
                    <p class="text-default-500 text-sm">${{ item.price }} x {{ item.quantity }}</p>
                </div>
            </div>
            <span class="text-default-500 text-sm">${{ item.total }}</span>
        </div>
        }
    </div>


    <div class="flex justify-between items-center gap-5 py-3">
        <span class="text-default-500 text-sm">Sub Total </span>
        <span class="text-default-800 text-sm">$932.16</span>
    </div>

    <div class="flex justify-between items-center gap-5 py-3">
        <span class="text-default-500 text-sm">Estimated Tax (18%) </span>
        <span class="text-default-800 text-sm">$167.79</span>
    </div>

    <div class="flex justify-between items-center gap-5 py-3">
        <span class="text-default-500 text-sm">Item Discounts (12%)</span>
        <span class="text-default-800 text-sm">-$111.86</span>
    </div>

    <div class="flex justify-between items-center gap-5 py-3">
        <span class="text-default-500 text-sm">Shipping Charge </span>
        <span class="text-default-800 text-sm">$0</span>
    </div>

    <div class="flex justify-between items-center gap-5 font-semibold pt-3">
        <span class="text-default-500 text-sm">Total Amount (USD) </span>
        <span class="text-default-800 text-sm">$988.09</span>
    </div>

    <div class="mt-4">
        <button type="button" class="text-[13px] py-2 px-4 rounded bg-primary text-white transition-all duration-300 hover:bg-blue-600 inline-flex justify-center w-full items-center">Place Order
            <div class="size-4 ms-1.5"> <ng-icon name="lucideMoveRight"></ng-icon></div>
        </button>
    </div>
</div>

<div class="mb-5">
    <h6 class="mb-4 underline text-base text-default-800 font-semibold">Additional Service</h6>

    @for(service of additionalServices; track $index){
        <div class="p-5 card mb-5">
            <div class="flex justify-between flex-wrap items-center gap-3">
                <div>
                    <h6 class="mb-1 text-[15px] text-default-800 font-semibold">{{ service.name }}</h6>
                    <p class="text-default-500 text-sm">{{ service.description }}</p>
                </div>

                <div class="flex items-center gap-3">
                    <label class="text-default-800 font-semibold text-sm" [for]="'switchPrice' + service.id">${{ service.price }}</label>
                    <input type="checkbox" [id]="'switchPrice' + service.id" class="form-switch" [(ngModel)]="service.selected">
                </div>
            </div>
        </div>
    }
</div>