<div class="card">
    <div class="card-header">
        <h6 class="card-title">Email Performance</h6>

        <div class="flex gap-3 items-center">
            <div class="relative">
                <input type="email" class="form-input form-input-sm ps-9" placeholder="Search for....">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3">
                    <div class="size-3.5  text-default-500"><ng-icon name="lucideSearch"></ng-icon></div>
                </div>
            </div>

            <button class="btn btn-sm bg-primary text-white">
                <div class="size-4"> <ng-icon name="lucideDownload"></ng-icon></div> Export
            </button>
        </div>
    </div>

    <div class="flex flex-col">
        <div class="overflow-x-auto">
            <div class="min-w-full inline-block align-middle">
                <div class="overflow-hidden">
                    <table class="min-w-full divide-y divide-default-200">
                        <thead class="bg-default-150">
                            <tr class="text-sm font-normal text-default-500 whitespace-nowrap">
                                <th scope="col" class="py-3 px-4 pe-0 text-start">
                                    <input id="checkbox-all" type="checkbox" class="form-checkbox">
                                </th>
                                <th scope="col" class="px-3.5 py-3 text-start">Email</th>
                                <th scope="col" class="px-3.5 py-3 text-start">Create Date</th>
                                <th scope="col" class="px-3.5 py-3 text-start">Open Rate (%)</th>
                                <th scope="col" class="px-3.5 py-3 text-start">Click Through (%)</th>
                                <th scope="col" class="px-3.5 py-3 text-start">Click Rate (%)</th>
                                <th scope="col" class="px-3.5 py-3 text-start">Unsubscribed (%)</th>
                                <th scope="col" class="px-3.5 py-3 text-start">Bounce (%)</th>
                                <th scope="col" class="px-3.5 py-3 text-start">TSpam(%)</th>
                            </tr>
                        </thead>

                        <tbody class="divide-y divide-default-200">
                            @for (row of tableData; track $index) {
                            <tr class="text-default-800 font-normal">
                                <td class="py-2.5 ps-4">
                                    <input [id]="row.checkboxId" type="checkbox" class="form-checkbox">
                                </td>
                                <td class="px-3.5 py-2.5 whitespace-nowrap text-sm">{{ row.industry }}</td>
                                <td class="px-3.5 py-2.5 whitespace-nowrap text-sm">{{ row.date }}</td>
                                <td class="px-3.5 py-2.5 whitespace-nowrap text-sm">{{ row.sent }}</td>
                                <td class="px-3.5 py-2.5 whitespace-nowrap text-sm">{{ row.opened }}</td>
                                <td class="px-3.5 py-2.5 whitespace-nowrap text-sm">{{ row.clicked }}</td>
                                <td class="px-3.5 py-2.5 whitespace-nowrap text-sm">{{ row.bounced }}</td>
                                <td class="px-3.5 py-2.5 whitespace-nowrap text-sm">{{ row.unsubscribed }}</td>
                                <td class="px-3.5 py-2.5 whitespace-nowrap text-sm">{{ row.spam }}</td>
                            </tr>
                            }
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <p class="text-default-500 text-sm">Showing <b>07</b> of <b>19</b> Results</p>
            
                 <app-pagination />
           
        </div>
    </div>
</div>