@{
    ViewBag.Title = "Compact Sidenav";
    ViewBag.Subtitle = "Layouts";
    ViewBag.HTMLAttributes = "data-sidenav-size=md";
}

@section styles
{

}

@await Html.PartialAsync("~/Views/Shared/Partials/_PageTitle.cshtml")

<div class="card h-40">
</div>

@section scripts
{

}
