{% extends 'layouts/vertical.html' %}
{% load static i18n %}

{% block title %}Grid View{% endblock title %}

{% block content %}

{% include 'partials/page-title.html' with title='Grid View' subtitle='Apps' %}

<div class="flex justify-between gap-3 flex-wrap items-center mb-5">
  <div class="relative">
    <input class="form-input form-input-sm ps-9" placeholder="Search for name,email,phone number etc..." type="email"/>
    <div class="absolute inset-y-0 start-4 flex items-center">
      <i class="size-3.5 flex items-center text-default-500" data-lucide="search"></i>
    </div>
  </div>
  <div class="flex gap-3 items-center">
    <button aria-controls="addUserModal" aria-expanded="false" aria-haspopup="dialog"
            class="btn btn-sm bg-primary text-white" data-hs-overlay="#addUserModal" type="button">
      <i class="size-4 ms-1" data-lucide="plus"></i>
      Add User
    </button>
    <button class="btn size-7.5 bg-default-500 text-white hover:bg-default-600" type="button">
      <i class="size-4" data-lucide="sliders-horizontal"></i>
    </button>
  </div>
</div>
<div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-5 mb-5">
  <div class="card">
    <div class="card-body">
      <div class="relative flex items-center justify-center mx-auto text-lg rounded-full size-16 bg-default-100">
        <img alt="" class="rounded-full size-16" src="{% static 'images/user/avatar-1.png' %}"/>
        <span class="absolute bg-success border-2 border-white rounded-full size-3 end-0 bottom-1"></span>
      </div>
      <div class="mt-4 text-center text-default-500">
        <h5 class="mb-1 text-base text-default-800 font-semibold"><a
          href="{% url 'pages:dynamic_pages' template_name='pages-account' %}">Paula Keenan</a></h5>
        <p class="mb-3 text-sm text-default-500">@Admin</p>
        <p class="text-sm text-default-500">748 Luettgen Plain Suite South Winstonfort, NM</p>
      </div>
      <div class="flex gap-2 mt-5">
        <a class="btn border-primary text-primary hover:bg-primary hover:text-white flex-grow"
           href="{% url 'pages:dynamic_pages' template_name='apps-chat' %}">
          <i class="iconify lucide--messages-square"></i>
          <span class="align-middle">Send Message</span>
        </a>
        <div class="hs-dropdown relative inline-flex">
          <button aria-expanded="false" aria-haspopup="menu" aria-label="Dropdown"
                  class="hs-dropdown-toggle btn bg-primary size-9 text-white" hs-dropdown-placement="bottom-end"
                  type="button">
            <i class="iconify lucide--ellipsis size-4"></i>
          </button>
          <div class="hs-dropdown-menu" role="menu">
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="eye"></i>
              Overview
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="edit"></i>
              Edit
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="trash-2"></i>
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="relative flex items-center justify-center mx-auto text-lg rounded-full size-16 bg-default-100">
        <img alt="" class="rounded-full size-16" src="{% static 'images/user/avatar-2.png' %}"/>
        <span class="absolute bg-success border-2 border-white rounded-full size-3 end-0 bottom-1"></span>
      </div>
      <div class="mt-4 text-center text-default-500">
        <h5 class="mb-1 text-base text-default-800 font-semibold"><a
          href="{% url 'pages:dynamic_pages' template_name='pages-account' %}">Marie Prohaska</a></h5>
        <p class="mb-3 text-sm text-default-500">@Subscriber</p>
        <p class="text-sm text-default-500">125 Ortiz Camp Suite 471 Rippinport, US</p>
      </div>
      <div class="flex gap-2 mt-5">
        <a class="btn border-primary text-primary hover:bg-primary hover:text-white flex-grow"
           href="{% url 'pages:dynamic_pages' template_name='apps-chat' %}">
          <i class="iconify lucide--messages-square"></i>
          <span class="align-middle">Send Message</span>
        </a>
        <div class="hs-dropdown relative inline-flex">
          <button aria-expanded="false" aria-haspopup="menu" aria-label="Dropdown"
                  class="hs-dropdown-toggle btn bg-primary size-9 text-white" hs-dropdown-placement="bottom-end"
                  type="button">
            <i class="iconify lucide--ellipsis size-4"></i>
          </button>
          <div class="hs-dropdown-menu" role="menu">
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="eye"></i>
              Overview
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="edit"></i>
              Edit
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="trash-2"></i>
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="relative flex items-center justify-center mx-auto text-lg rounded-full size-16 bg-default-100">
        <img alt="" class="rounded-full size-16" src="{% static 'images/user/avatar-3.png' %}"/>
        <span class="absolute bg-success border-2 border-white rounded-full size-3 end-0 bottom-1"></span>
      </div>
      <div class="mt-4 text-center text-default-500">
        <h5 class="mb-1 text-base text-default-800 font-semibold"><a
          href="{% url 'pages:dynamic_pages' template_name='pages-account' %}">Jaqueline Hammes</a></h5>
        <p class="mb-3 text-sm text-default-500">@Editor</p>
        <p class="text-sm text-default-500">8716 Dell Manors New Ahmedmouth, WI</p>
      </div>
      <div class="flex gap-2 mt-5">
        <a class="btn border-primary text-primary hover:bg-primary hover:text-white flex-grow"
           href="{% url 'pages:dynamic_pages' template_name='apps-chat' %}">
          <i class="iconify lucide--messages-square"></i>
          <span class="align-middle">Send Message</span>
        </a>
        <div class="hs-dropdown relative inline-flex">
          <button aria-expanded="false" aria-haspopup="menu" aria-label="Dropdown"
                  class="hs-dropdown-toggle btn bg-primary size-9 text-white" hs-dropdown-placement="bottom-end"
                  type="button">
            <i class="iconify lucide--ellipsis size-4"></i>
          </button>
          <div class="hs-dropdown-menu" role="menu">
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="eye"></i>
              Overview
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="edit"></i>
              Edit
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="trash-2"></i>
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="relative flex items-center justify-center mx-auto text-lg rounded-full size-16 bg-default-100">
        AB
        <span class="absolute bg-success border-2 border-white rounded-full size-3 end-0 bottom-1"></span>
      </div>
      <div class="mt-4 text-center text-default-500">
        <h5 class="mb-1 text-base text-default-800 font-semibold"><a
          href="{% url 'pages:dynamic_pages' template_name='pages-account' %}">Angus Bergstrom</a></h5>
        <p class="mb-3 text-sm text-default-500">@Developer</p>
        <p class="text-sm text-default-500">617 Powlowski Crossroad Apt. 716 New Victoria</p>
      </div>
      <div class="flex gap-2 mt-5">
        <a class="btn border-primary text-primary hover:bg-primary hover:text-white flex-grow"
           href="{% url 'pages:dynamic_pages' template_name='apps-chat' %}">
          <i class="iconify lucide--messages-square"></i>
          <span class="align-middle">Send Message</span>
        </a>
        <div class="hs-dropdown relative inline-flex">
          <button aria-expanded="false" aria-haspopup="menu" aria-label="Dropdown"
                  class="hs-dropdown-toggle btn bg-primary size-9 text-white" hs-dropdown-placement="bottom-end"
                  type="button">
            <i class="iconify lucide--ellipsis size-4"></i>
          </button>
          <div class="hs-dropdown-menu" role="menu">
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="eye"></i>
              Overview
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="edit"></i>
              Edit
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="trash-2"></i>
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="relative flex items-center justify-center mx-auto text-lg rounded-full size-16 bg-default-100">
        <img alt="" class="rounded-full size-16" src="{% static 'images/user/avatar-4.png' %}"/>
        <span class="absolute bg-danger border-2 border-white rounded-full size-3 end-0 bottom-1"></span>
      </div>
      <div class="mt-4 text-center text-default-500">
        <h5 class="mb-1 text-base text-default-800 font-semibold"><a
          href="{% url 'pages:dynamic_pages' template_name='pages-account' %}">Aurore Maggio</a></h5>
        <p class="mb-3 text-sm text-default-500">@Subscriber</p>
        <p class="text-sm text-default-500">8751 Boyer Courts Suite 532 West Fletcherside</p>
      </div>
      <div class="flex gap-2 mt-5">
        <a class="btn border-primary text-primary hover:bg-primary hover:text-white flex-grow"
           href="{% url 'pages:dynamic_pages' template_name='apps-chat' %}">
          <i class="iconify lucide--messages-square"></i>
          <span class="align-middle">Send Message</span>
        </a>
        <div class="hs-dropdown relative inline-flex">
          <button aria-expanded="false" aria-haspopup="menu" aria-label="Dropdown"
                  class="hs-dropdown-toggle btn bg-primary size-9 text-white" hs-dropdown-placement="bottom-end"
                  type="button">
            <i class="iconify lucide--ellipsis size-4"></i>
          </button>
          <div class="hs-dropdown-menu" role="menu">
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="eye"></i>
              Overview
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="edit"></i>
              Edit
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="trash-2"></i>
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="relative flex items-center justify-center mx-auto text-lg rounded-full size-16 bg-default-100">
        AB
        <span class="absolute bg-success border-2 border-white rounded-full size-3 end-0 bottom-1"></span>
      </div>
      <div class="mt-4 text-center text-default-500">
        <h5 class="mb-1 text-base text-default-800 font-semibold"><a
          href="{% url 'pages:dynamic_pages' template_name='pages-account' %}">Andrea Pesina</a></h5>
        <p class="mb-3 text-sm text-default-500">@Editor</p>
        <p class="text-sm text-default-500">32 Maidstone Road WELLSBOROUGH</p>
      </div>
      <div class="flex gap-2 mt-5">
        <a class="btn border-primary text-primary hover:bg-primary hover:text-white flex-grow"
           href="{% url 'pages:dynamic_pages' template_name='apps-chat' %}">
          <i class="iconify lucide--messages-square"></i>
          <span class="align-middle">Send Message</span>
        </a>
        <div class="hs-dropdown relative inline-flex">
          <button aria-expanded="false" aria-haspopup="menu" aria-label="Dropdown"
                  class="hs-dropdown-toggle btn bg-primary size-9 text-white" hs-dropdown-placement="bottom-end"
                  type="button">
            <i class="iconify lucide--ellipsis size-4"></i>
          </button>
          <div class="hs-dropdown-menu" role="menu">
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="eye"></i>
              Overview
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="edit"></i>
              Edit
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="trash-2"></i>
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="relative flex items-center justify-center mx-auto text-lg rounded-full size-16 bg-default-100">
        <img alt="" class="rounded-full size-16" src="{% static 'images/user/avatar-5.png' %}"/>
        <span class="absolute bg-danger border-2 border-white rounded-full size-3 end-0 bottom-1"></span>
      </div>
      <div class="mt-4 text-center text-default-500">
        <h5 class="mb-1 text-base text-default-800 font-semibold"><a
          href="{% url 'pages:dynamic_pages' template_name='pages-account' %}">Daniel Miller</a></h5>
        <p class="mb-3 text-sm text-default-500">@Subscriber</p>
        <p class="text-sm text-default-500">431 Elk Rd Little Ticonderoga, NY</p>
      </div>
      <div class="flex gap-2 mt-5">
        <a class="btn border-primary text-primary hover:bg-primary hover:text-white flex-grow"
           href="{% url 'pages:dynamic_pages' template_name='apps-chat' %}">
          <i class="iconify lucide--messages-square"></i>
          <span class="align-middle">Send Message</span>
        </a>
        <div class="hs-dropdown relative inline-flex">
          <button aria-expanded="false" aria-haspopup="menu" aria-label="Dropdown"
                  class="hs-dropdown-toggle btn bg-primary size-9 text-white" hs-dropdown-placement="bottom-end"
                  type="button">
            <i class="iconify lucide--ellipsis size-4"></i>
          </button>
          <div class="hs-dropdown-menu" role="menu">
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="eye"></i>
              Overview
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="edit"></i>
              Edit
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="trash-2"></i>
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="relative flex items-center justify-center mx-auto text-lg rounded-full size-16 bg-default-100">
        <img alt="" class="rounded-full size-16" src="{% static 'images/user/avatar-6.png' %}"/>
        <span class="absolute bg-success border-2 border-white rounded-full size-3 end-0 bottom-1"></span>
      </div>
      <div class="mt-4 text-center text-default-500">
        <h5 class="mb-1 text-base text-default-800 font-semibold"><a
          href="{% url 'pages:dynamic_pages' template_name='pages-account' %}">Ashley Wilson</a></h5>
        <p class="mb-3 text-sm text-default-500">@Subscriber</p>
        <p class="text-sm text-default-500">0816 Bradford Alley Lake Adamfort, ME</p>
      </div>
      <div class="flex gap-2 mt-5">
        <a class="btn border-primary text-primary hover:bg-primary hover:text-white flex-grow"
           href="{% url 'pages:dynamic_pages' template_name='apps-chat' %}">
          <i class="iconify lucide--messages-square"></i>
          <span class="align-middle">Send Message</span>
        </a>
        <div class="hs-dropdown relative inline-flex">
          <button aria-expanded="false" aria-haspopup="menu" aria-label="Dropdown"
                  class="hs-dropdown-toggle btn bg-primary size-9 text-white" hs-dropdown-placement="bottom-end"
                  type="button">
            <i class="iconify lucide--ellipsis size-4"></i>
          </button>
          <div class="hs-dropdown-menu" role="menu">
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="eye"></i>
              Overview
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="edit"></i>
              Edit
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="trash-2"></i>
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="relative flex items-center justify-center mx-auto text-lg rounded-full size-16 bg-default-100">
        <img alt="" class="rounded-full size-16" src="{% static 'images/user/avatar-7.png' %}"/>
        <span class="absolute bg-success border-2 border-white rounded-full size-3 end-0 bottom-1"></span>
      </div>
      <div class="mt-4 text-center text-default-500">
        <h5 class="mb-1 text-base text-default-800 font-semibold"><a
          href="{% url 'pages:dynamic_pages' template_name='pages-account' %}">William Heineman</a></h5>
        <p class="mb-3 text-sm text-default-500">@Author</p>
        <p class="text-sm text-default-500">99614 Pollich Extension Apt. 938 South Alf, GA</p>
      </div>
      <div class="flex gap-2 mt-5">
        <a class="btn border-primary text-primary hover:bg-primary hover:text-white flex-grow"
           href="{% url 'pages:dynamic_pages' template_name='apps-chat' %}">
          <i class="iconify lucide--messages-square"></i>
          <span class="align-middle">Send Message</span>
        </a>
        <div class="hs-dropdown relative inline-flex">
          <button aria-expanded="false" aria-haspopup="menu" aria-label="Dropdown"
                  class="hs-dropdown-toggle btn bg-primary size-9 text-white" hs-dropdown-placement="bottom-end"
                  type="button">
            <i class="iconify lucide--ellipsis size-4"></i>
          </button>
          <div class="hs-dropdown-menu" role="menu">
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="eye"></i>
              Overview
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="edit"></i>
              Edit
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="trash-2"></i>
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="relative flex items-center justify-center mx-auto text-lg rounded-full size-16 bg-default-100">
        <img alt="" class="rounded-full size-16" src="{% static 'images/user/avatar-8.png' %}"/>
        <span class="absolute bg-success border-2 border-white rounded-full size-3 end-0 bottom-1"></span>
      </div>
      <div class="mt-4 text-center text-default-500">
        <h5 class="mb-1 text-base text-default-800 font-semibold"><a
          href="{% url 'pages:dynamic_pages' template_name='pages-account' %}">Kara Miller</a></h5>
        <p class="mb-3 text-sm text-default-500">@Subscriber</p>
        <p class="text-sm text-default-500">755 Kody Plaza Apt. 138 East Reinholdberg, AR</p>
      </div>
      <div class="flex gap-2 mt-5">
        <a class="btn border-primary text-primary hover:bg-primary hover:text-white flex-grow"
           href="{% url 'pages:dynamic_pages' template_name='apps-chat' %}">
          <i class="iconify lucide--messages-square"></i>
          <span class="align-middle">Send Message</span>
        </a>
        <div class="hs-dropdown relative inline-flex">
          <button aria-expanded="false" aria-haspopup="menu" aria-label="Dropdown"
                  class="hs-dropdown-toggle btn bg-primary size-9 text-white" hs-dropdown-placement="bottom-end"
                  type="button">
            <i class="iconify lucide--ellipsis size-4"></i>
          </button>
          <div class="hs-dropdown-menu" role="menu">
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="eye"></i>
              Overview
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="edit"></i>
              Edit
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="trash-2"></i>
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="relative flex items-center justify-center mx-auto text-lg rounded-full size-16 bg-default-100">
        MW
        <span class="absolute bg-success border-2 border-white rounded-full size-3 end-0 bottom-1"></span>
      </div>
      <div class="mt-4 text-center text-default-500">
        <h5 class="mb-1 text-base text-default-800 font-semibold"><a
          href="{% url 'pages:dynamic_pages' template_name='pages-account' %}">Mark Walton</a></h5>
        <p class="mb-3 text-sm text-default-500">@Author</p>
        <p class="text-sm text-default-500">895 Camylle Tunnel Lake Chasity, SC</p>
      </div>
      <div class="flex gap-2 mt-5">
        <a class="btn border-primary text-primary hover:bg-primary hover:text-white flex-grow"
           href="{% url 'pages:dynamic_pages' template_name='apps-chat' %}">
          <i class="iconify lucide--messages-square"></i>
          <span class="align-middle">Send Message</span>
        </a>
        <div class="hs-dropdown relative inline-flex">
          <button aria-expanded="false" aria-haspopup="menu" aria-label="Dropdown"
                  class="hs-dropdown-toggle btn bg-primary size-9 text-white" hs-dropdown-placement="bottom-end"
                  type="button">
            <i class="iconify lucide--ellipsis size-4"></i>
          </button>
          <div class="hs-dropdown-menu" role="menu">
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="eye"></i>
              Overview
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="edit"></i>
              Edit
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="trash-2"></i>
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="relative flex items-center justify-center mx-auto text-lg rounded-full size-16 bg-default-100">
        DB
        <span class="absolute bg-danger border-2 border-white rounded-full size-3 end-0 bottom-1"></span>
      </div>
      <div class="mt-4 text-center text-default-500">
        <h5 class="mb-1 text-base text-default-800 font-semibold"><a
          href="{% url 'pages:dynamic_pages' template_name='pages-account' %}">David Biggs</a></h5>
        <p class="mb-3 text-sm text-default-500">@Subscriber</p>
        <p class="text-sm text-default-500">75, Deccan Gymkhana, Alwar</p>
      </div>
      <div class="flex gap-2 mt-5">
        <a class="btn border-primary text-primary hover:bg-primary hover:text-white flex-grow"
           href="{% url 'pages:dynamic_pages' template_name='apps-chat' %}">
          <i class="iconify lucide--messages-square"></i>
          <span class="align-middle">Send Message</span>
        </a>
        <div class="hs-dropdown relative inline-flex">
          <button aria-expanded="false" aria-haspopup="menu" aria-label="Dropdown"
                  class="hs-dropdown-toggle btn bg-primary size-9 text-white" hs-dropdown-placement="bottom-end"
                  type="button">
            <i class="iconify lucide--ellipsis size-4"></i>
          </button>
          <div class="hs-dropdown-menu" role="menu">
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="eye"></i>
              Overview
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="edit"></i>
              Edit
            </a>
            <a class="flex items-center gap-1.5 py-1.5 font-medium px-3 text-default-500 hover:bg-default-150 rounded"
               href="#">
              <i class="size-3" data-lucide="trash-2"></i>
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-wrap md:justify-between justify-center items-centermd:gap-0 gap-4 my-5 text-default-500">
  <p class="text-default-500 text-sm">Showing <b>07</b> of <b>19</b> Results</p>
  <nav aria-label="Pagination" class="flex items-center gap-2">
    <button
      class="btn btn-sm border bg-transparent border-default-200 text-default-600 hover:bg-primary/10 hover:text-primary hover:border-primary/10"
      type="button">
      <i class="size-4 me-1" data-lucide="chevron-left"></i> Prev
    </button>
    <button
      class="btn size-7.5 bg-transparent border border-default-200 text-default-600 hover:bg-primary/10 hover:text-primary hover:border-primary/10"
      type="button">
      1
    </button>
    <button class="btn size-7.5 bg-primary text-white" type="button">
      2
    </button>
    <button
      class="btn size-7.5 bg-transparent border border-default-200 text-default-600 hover:bg-primary/10 hover:text-primary hover:border-primary/10"
      type="button">
      3
    </button>
    <button
      class="btn btn-sm border bg-transparent border-default-200 text-default-600 hover:bg-primary/10 hover:text-primary hover:border-primary/10"
      type="button">Next
      <i class="size-4 ms-1" data-lucide="chevron-right"></i>
    </button>
  </nav>
</div>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}
