<div class="mt-4 text-sm">
    <a [routerLink]="[]" class="py-2 flex gap-3 items-center hover:text-primary text-default-500 transition-all">
       <div class="size-4"> <ng-icon name="lucideInbox" ></ng-icon></div>
        <span>Inbox</span>
    </a>

    <a [routerLink]="[]" class="py-2 flex gap-3 items-center hover:text-primary text-default-500 transition-all">
        <div class="size-4"><ng-icon name="lucideStar"></ng-icon></div>
        <span>Starred</span>
    </a>

    <a [routerLink]="[]" class="py-2 flex gap-3 items-center hover:text-primary text-default-500 transition-all">
       <div class="size-4"> <ng-icon name="lucideFilePen" ></ng-icon></div>
        <span>Draft</span>
    </a>

    <a [routerLink]="[]" class="py-2 flex gap-3 items-center hover:text-primary text-default-500 transition-all">
       <div class="size-4"> <ng-icon name="lucideStepForward"></ng-icon></div>
        <span>Important</span>
    </a>

    <a [routerLink]="[]" class="py-2 flex gap-3 items-center hover:text-primary text-default-500 transition-all">
        <div class="size-4"><ng-icon name="lucideBadgeAlert"></ng-icon></div>
        <span>Spam</span>
    </a>

    <a [routerLink]="[]" class="py-2 flex gap-3 items-center hover:text-primary text-default-500 transition-all">
       <div class="size-4"> <ng-icon name="lucideCircleUser" ></ng-icon></div>
        <span>Contacts</span>
    </a>

    <a [routerLink]="[]" class="py-2 flex gap-3 items-center hover:text-primary text-default-500 transition-all">
       <div class="size-4"> <ng-icon name="lucideTrash2" ></ng-icon></div>
        <span>Trash</span>
    </a>

    <p class="py-3 uppercase text-sm text-default-700">Category</p>

    <a [routerLink]="[]" class="py-2 flex gap-3 items-center hover:text-primary text-default-500 transition-all">
       <div class="size-4"> <ng-icon name="lucideRadioTower"></ng-icon></div>
        <span>Social</span>
    </a>

    <a [routerLink]="[]" class="py-2 flex gap-3 items-center hover:text-primary text-default-500 transition-all">
       <div class="size-4"> <ng-icon name="lucideSquirrel"></ng-icon></div>
        <span>Update</span>
    </a>

    <a [routerLink]="[]" class="py-2 flex gap-3 items-center hover:text-primary text-default-500 transition-all">
       <div class="size-4"> <ng-icon name="lucideFileText" ></ng-icon></div>
        <span>Forums</span>
    </a>

    <a [routerLink]="[]" class="py-2 flex gap-3 items-center hover:text-primary text-default-500 transition-all">
        <div class="size-4"><ng-icon name="lucideTag"></ng-icon></div>
        <span>Promotions</span>
    </a>

    <p class="py-3 uppercase text-sm text-default-700">Label</p>

    <a [routerLink]="[]" class="py-2 flex gap-3 items-center hover:text-primary text-default-500 transition-all">
        <div class="text-danger size-4"><ng-icon name="lucideCircleDot" ></ng-icon></div>
        <span>Support</span>
    </a>

    <a [routerLink]="[]" class="py-2 flex gap-3 items-center hover:text-primary text-default-500 transition-all">
        <div class="text-primary size-4"><ng-icon name="lucideCircleDot" ></ng-icon></div>
        <span>Freelance</span>
    </a>

    <a [routerLink]="[]" class="py-2 flex gap-3 items-center hover:text-primary text-default-500 transition-all">
        <div class="text-sky-500 size-4"><ng-icon name="lucideCircleDot" ></ng-icon></div>
        <span>Personal</span>
    </a>
</div>