<ngx-simplebar class="lg:h-[calc(100vh-310px)] h-[calc(100vh-125px)]">
  <div class="px-5 mb-1">
    <p class="mb-1 text-default-500 text-sm">Recent Chats</p>
  </div>

  @for (chat of chats; track $index) {
    @if (chat.section === 'recent') {
      <a [routerLink]="[]" class="flex gap-3 py-2 px-4 hover:bg-default-150">
        <div class="relative flex items-center justify-center font-semibold rounded-full size-9 {{ chat.bgClass }}">
          @if (chat.img) {
            <img [src]="chat.img" alt="" class="rounded-full w-9 h-9">
          }
          @if (chat.initials) {
            <span class="text-xs">{{ chat.initials }}</span>
          }
          <span class="absolute bottom-0 right-0 w-2.5 h-2.5 border-2 border-default-50 rounded-full {{ 'bg-' + chat.statusColor }}"></span>
        </div>

        <div class="flex-grow">
          <h6 class="mb-1 text-default-800 font-semibold text-sm">{{ chat.name }}</h6>
          <p class="text-xs truncate text-default-500">{{ chat.message }}</p>
        </div>

        <small class="text-xs text-default-500">{{ chat.time }}</small>
      </a>
    }
  }

  <div class="px-5 pt-2">
    <p class="mb-1 text-default-500 text-sm">All Conversion</p>
  </div>

  @for (chat of chats; track $index) {
    @if (chat.section === 'all') {
      <a [routerLink]="[]" class="flex gap-3 py-2 px-4 hover:bg-default-150">
        <div class="relative flex items-center justify-center font-semibold rounded-full size-9 {{ chat.bgClass }}">
          @if (chat.img) {
            <img [src]="chat.img" alt="" class="rounded-full w-9 h-9">
          }
          @if (chat.initials) {
            <span class="text-xs">{{ chat.initials }}</span>
          }
          <span class="absolute bottom-0 right-0 w-2.5 h-2.5 border-2 border-default-50 rounded-full {{ 'bg-' + chat.statusColor }}"></span>
        </div>

        <div class="">
          <h6 class="mb-1 text-default-800 font-semibold text-sm">{{ chat.name }}</h6>
          <p class="text-xs truncate text-default-500">{{ chat.message }}</p>
        </div>

        <small class="text-xs text-default-500">{{ chat.time }}</small>
      </a>
    }
  }
</ngx-simplebar>
