       <div id="emailOverview" class="card shadow-none hs-overlay [--body-scroll:true] [--overlay-backdrop:false] hs-overlay-open:translate-x-0 hidden translate-x-full absolute top-0 end-0 transition-all duration-300 transform h-full max-w-full w-full z-80 bg-card" role="dialog" tabindex="-1" aria-labelledby="emailOverview-label">
                                        <div class="card-header py-4">

                                            <button type="button" class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-default-100 text-default-800 hover:bg-default-150 focus:outline-hidden focus:bg-default-200 disabled:opacity-50 disabled:pointer-events-none" aria-label="Close" data-hs-overlay="#emailOverview">
                                                <span class="sr-only">Close</span>
                                                <div class="size-4"><ng-icon name="lucideChevronsLeft" ></ng-icon></div>
                                            </button>

                                            <div class="flex-grow">
                                                <h3 id="emailOverview-label" class="font-bold text-default-800 mb-1.5">How Custom Software Can Solve Your Business Challenges</h3>
                                                <p class="text-default-500 dark:text-zink-200"><a [routerLink]="[]">infrateach@tailwick.com</a> (Aug 6, 2023, 9:04 PM)</p>
                                            </div>

                                            <div class="flex gap-3 shrink-0">
                                                <a [routerLink]="[]" class="flex items-center justify-center transition-all duration-200 ease-linear size-6 text-default-500 dark:text-zink-200 hover:text-primary dark:hover:text-primary">
                                                   <div class="size-4"> <ng-icon name="lucideArchiveRestore"  ></ng-icon></div>
                                                </a>
                                                <a [routerLink]="[]" class="flex items-center justify-center transition-all duration-200 ease-linear size-6 text-default-500 dark:text-zink-200 hover:text-sky-500 dark:hover:text-sky-500">
                                                   <div class="size-4"> <ng-icon name="lucidePrinter"></ng-icon></div>
                                                </a>
                                                <a [routerLink]="[]" class="flex items-center justify-center transition-all duration-200 ease-linear size-6 text-default-500 dark:text-zink-200 hover:text-yellow-500 dark:hover:text-yellow-500">
                                                    <div class="size-4"><ng-icon name="lucideStar"  ></ng-icon></div>
                                                </a>
                                                <a [routerLink]="[]" class="flex items-center justify-center transition-all duration-200 ease-linear size-6 text-default-500 dark:text-zink-200 hover:text-danger dark:hover:text-danger">
                                                    <div class="size-4"><ng-icon name="lucideTrash2" ></ng-icon></div>
                                                </a>
                                            </div>
                                        </div>

                                        <ngx-simplebar class="max-h-150">
                                            <div class="p-5 space-y-6">
                                                <div class="flex gap-3">
                                                    <div class="relative flex items-center justify-center font-semibold rounded-full text-default-500 size-9 bg-default-100 shrink-0 dark:text-zink-200 dark:bg-zink-600">
                                                        <img src="assets/images/user/avatar-5.png" alt="" class="rounded-full h-9">
                                                    </div>

                                                    <div class="grow">
                                                        <div class="flex items-center">
                                                            <div class="grow">
                                                                <h6>Infra Teach</h6>
                                                                <p class="text-default-500 dark:text-zink-200"><a [routerLink]="[]">infrateach@tailwick.com</a>
                                                            </div>
                                                            <div class="shrink-0">
                                                                Aug 6, 2023, 9:04 PM
                                                            </div>
                                                        </div>
                                                        <div class="p-4 mt-3 rounded-md bg-default-100 dark:bg-zink-600">
                                                            <p class="mb-2 last:mb-0">Hi,</p>
                                                            <p class="mb-2 last:mb-0">Custom software solutions are tailor-made software applications designed to meet the unique needs of a specific business or organization. Unlike off-the-shelf software, which offers a standardized solution for a broad range of users, custom software is precisely crafted to align with the workflows, processes, and objectives of a particular business.</p>
                                                            <p class="mb-2 last:mb-0">The key advantage of custom software lies in its ability to be scalable and flexible. It can evolve alongside the business, accommodating changing requirements and supporting expansion. By adapting to the specific needs of the organization, custom software empowers businesses to gain a competitive edge, differentiate themselves in the market, and deliver enhanced experiences to their customers.</p>
                                                            <p class="mb-2 last:mb-0">Thank You</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="flex gap-3">
                                                    <div class="relative flex items-center justify-center font-semibold bg-pink-100 rounded-full text-default-500 size-9 shrink-0 dark:bg-pink-500/20 dark:text-zink-200">
                                                        <img src="assets/images/user/avatar-1.png" alt="" class="rounded-full h-9">
                                                    </div>
                                                    <div class="grow">
                                                        <div class="flex items-center">
                                                            <div class="grow">
                                                                <h6>Me</h6>
                                                                <p class="text-default-500 dark:text-zink-200"><a [routerLink]="[]">paulakeenan@tailwick.com</a>
                                                            </div>
                                                            <div class="shrink-0">
                                                                07 Nov, 2023, 10:14 PM
                                                            </div>
                                                        </div>
                                                        <div class="p-4 mt-3 rounded-md bg-default-100 dark:bg-zink-600">
                                                            <p class="mb-2 last:mb-0">Hi,</p>
                                                            <p class="mb-2 last:mb-0">I hope this email finds you well. Let me start by saying that I am a big fan of your work and it has inspired me to push myself beyond what I thought were my limits!</p>
                                                            <p class="mb-2 last:mb-0">After taking a good look at [target company] I realize that you could improve in [improvement area]. I have helped many others improve in the same area and I‘d be more than happy to talk with you about it!</p>
                                                            <p class="mb-2 last:mb-0">Would you be available for a quick call to discuss how our [product/service] could help you?</p>
                                                            <p class="mb-2 last:mb-0">Regards,</p>
                                                            <p class="mb-2 last:mb-0">Themesdesign</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="flex gap-3">
                                                    <div class="relative flex items-center justify-center font-semibold rounded-full text-default-500 size-9 bg-default-100 shrink-0 dark:text-zink-200 dark:bg-zink-600">
                                                        <img src="assets/images/user/avatar-5.png" alt="" class="rounded-full h-9">
                                                    </div>
                                                    <div class="grow">
                                                        <div class="flex items-center">
                                                            <div class="grow">
                                                                <h6>Infra Teach</h6>
                                                                <p class="text-default-500 dark:text-zink-200"><a [routerLink]="[]">infrateach@tailwick.com</a>
                                                            </div>
                                                            <div class="shrink-0">
                                                                07 Nov, 2023, 10:42 PM
                                                            </div>
                                                        </div>
                                                        <div class="p-4 mt-3 rounded-md bg-default-100 dark:bg-zink-600">
                                                            <p class="mb-2 last:mb-0">Hello, Themesdesign</p>
                                                            <p class="mb-2 last:mb-0">You are probably very busy, I totally understand that!</p>
                                                            <p class="mb-2 last:mb-0">It would be great to hear back from you. So, please let me know when you find some time.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ngx-simplebar>

                                        <div class="card-footer py-4">
                                            <div class="grow">
                                                <input type="text" id="inputText" class="form-input" placeholder="Enter Message" required autocomplete="off">
                                            </div>

                                            <div class="flex gap-2 shrink-0">
                                                <button type="button" class="btn hover:bg-default-100"><div class="size-4"><ng-icon name="lucideMic" ></ng-icon></div></button>
                                                <button type="button" class="btn hover:bg-default-100"><div class="size-4"><ng-icon name="lucideImage" ></ng-icon></div></button>
                                                <button type="button" class="btn bg-primary text-white"><div class="inline-block mr-1 align-middle size-4"><ng-icon name="lucideSend" ></ng-icon> </div><span class="align-middle">Send</span></button>
                                            </div>
                                        </div>
                                    </div>