<div class="card">
    <div class="card-header">
        <h6 class="card-title">Customer Service</h6>

        <div class="hs-dropdown relative inline-flex">
            <button type="button" class="hs-dropdown-toggle btn  size-7.5 text-sm font-semibold rounded-lg hover:bg-default-150" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown" hs-dropdown-placement="bottom-end">
               <div class="size-4 text-default-500"> <ng-icon name="lucideEllipsisVertical" ></ng-icon></div>
            </button>

            <div class="hs-dropdown-menu" role="menu">
                <a class="flex items-center gap-x-3.5 py-1.5 font-medium px-3 text-default-600 hover:bg-default-150 rounded" [routerLink]="[]">
                    1 Weekly
                </a>
                <a class="flex items-center gap-x-3.5 py-1.5 font-medium px-3 text-default-600 hover:bg-default-150 rounded" [routerLink]="[]">
                    1 Monthly
                </a>
                <a class="flex items-center gap-x-3.5 py-1.5 font-medium px-3 text-default-600 hover:bg-default-150 rounded" [routerLink]="[]">
                    3 Monthly
                </a>
                <a class="flex items-center gap-x-3.5 py-1.5 font-medium px-3 text-default-600 hover:bg-default-150 rounded" [routerLink]="[]">
                    6 Monthly
                </a>
                <a class="flex items-center gap-x-3.5 py-1.5 font-medium px-3 text-default-600 hover:bg-default-150 rounded" [routerLink]="[]">
                    This Yearly
                </a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div>
            <div class="flex items-center justify-between mb-2">
                <p class="text-default-500 text-sm">28% of the Goal Reached ($25k)</p>
            </div>

            <div class="w-full h-2 rounded-full bg-default-200">
                <div class="h-2 bg-success rounded-full" style="width: 28%"></div>
            </div>

            <div class="flex mt-3">
                <div class="flex items-center gap-2">
                    <div>
                       <div class="size-4 text-default-800"> <ng-icon name="lucideCalendarDays"  ></ng-icon></div>
                    </div>
                    <p class="mb-0 text-default-600">This Month:
                        <span class="font-medium text-default-800">$13,741</span>
                    </p>
                </div>
            </div>
        </div>

        <div>
            <h6 class="mt-4 mb-3 text-default-800 text-sm font-semibold">Top Customer</h6>
            <div class="divide-y divide-default-200">
                @for (customer of topCustomers; track $index) {
                <div class="flex items-center justify-between text-sm">
                    <div class="flex items-center gap-3 py-2.25">
                        <div class="size-8 rounded-full bg-default-100">
                            <img [src]="customer.avatar" alt="" class="size-8 rounded-full">
                        </div>
                        <div>
                            <h6 class="font-medium text-default-800 mb-1">{{ customer.name }}</h6>
                            <p class="text-default-500 font-normal">{{ customer.email }}</p>
                        </div>
                    </div>

                    <div>
                        <h6 class="font-semibold text-default-800">{{ customer.amount }}</h6>
                    </div>
                </div>
                }
            </div>
        </div>

    </div>
</div>