/* // _quill-editor.css */

.ql-editor {
    text-align: left;
    @apply leading-normal;

    ol,
    ul {
        padding-left: 1.5em;
        padding-right: 0;
    }

    li:not(.ql-direction-rtl)::before {
        margin-left: -1.5em;
        margin-right: 0.3em;
        text-align: right;
    }
}

.ql-container {
    @apply font-body;

    &.ql-snow {
        border-color: var(--color-default-200);
        border-radius: 0 0 4px 4px;
        min-block-size: 12rem;
    }
}

/* // Toolbar */
.ql-toolbar {
    @apply !font-body;

    span,
    button {
        outline: none !important;
        color: var(--color-default-600);

        &:hover {
            color: var(--color-primary) !important;
        }
    }

    &.ql-snow {
        border-radius: 4px 4px 0 0;
        border-color: var(--color-default-200);
        display: flex;
        flex-wrap: wrap;
        row-gap: 8px;

        .ql-picker.ql-expanded {
            .ql-picker-label {
                border-color: transparent;
            }
        }

        .ql-picker-options {
            @apply shadow-sm rounded;
        }

        .ql-formats {
            margin-right: 10px;
            border-radius: 3px;

            button,
            span {
                i {
                    line-height: 18px;
                    color: var(--color-body-color);
                }

                &:hover {
                    i {
                        color: var(--color-primary);
                    }
                }
            }

            .ql-stroke {
                stroke: var(--color-body-color);
            }
        }
    }

    .ql-picker-label,
    button {
        display: flex;

        svg {
            height: 16px;
            width: 16px;
        }
    }
}

.ql-snow {
    a {
        color: var(--color-primary);
    }

    .ql-picker {
        font-size: 14px;
    }

    .ql-picker.ql-expanded .ql-picker-label {
        color: var(--color-body-color) !important;
    }

    .ql-picker-options {
        background-color: var(--color-card);
        border-color: var(--color-default-200) !important;
    }

    .ql-tooltip {
        background-color: var(--color-card);
        border-color: var(--color-default-200);
        color: var(--color-body-color);
        padding: 8px 16px;
        @apply shadow-sm;

        input[type='text'] {
            border: 1px solid var(--color-default-200) !important;
            border-radius: 4px;

            &:focus,
            &:focus-visible {
                border: 1px solid var(--color-default-200) !important;
            }
        }
    }
}

/* // Quill Bubble tyle */
.ql-bubble {
    border: 1px solid var(--color-default-200);
    border-radius: 4px;

    .ql-tooltip-editor {
        input::placeholder {
            color: var(--color-default-400);
        }
    }
}

.ql-tooltip {
    .ql-toolbar {
        button {
            color: #fff !important;

            &:hover {
                color: var(--color-primary) !important;
            }
        }
    }
}