<main>
    <app-page-title title="Small Sidenav" subtitle="Layouts" />

    <div class="card h-40">
        <div class="card-body">
            <div class="bg-default-100 text-default-700 p-3 font-semibold rounded-lg">
                ⚡ <strong>Option 1 :</strong> Add attribute <code> data-sidenav-size="sm"</code> in <code>index.html</code>
                <br />
                ⚡ <strong>Option 2 :</strong> You can apply this dynamically using the <code>LayoutStoreService</code> with
                <code> setSidenavSize('sm')</code>
            </div>
        </div>
    </div>

</main>