 <div class="lg:border-e border-default-200">
                <div id="hs-offcanvas-left" class="hs-overlay [--auto-close:lg] lg:block lg:translate-x-0 lg:static lg:end-auto lg:bottom-0 w-96 hs-overlay-open:translate-x-0 -translate-x-full transition-all duration-300 transform h-full hidden fixed top-0 start-0 bottom-0 overflow-hidden z-60" role="dialog" tabindex="-1" aria-label="Sidebar">
                    <div class="card rounded-none shadow-none relative flex flex-row h-full max-h-full overflow-hidden divide-x divide-default-200">
                        <div class="card-body flex flex-col justify-between">
                            <a [routerLink]="[]">
                                <img src="assets/images/logo-sm.png" alt="logo" class="h-8 mx-auto">
                            </a>

                            <div class="flex flex-col items-center gap-6 pt-10">
                                <button class="btn size-9 hover:bg-primary/10 hover:text-primary transition-all">
                                    <div class="size-5"><ng-icon name="lucideMessagesSquare"></ng-icon></div>
                                </button>
                                <button class="btn size-9 hover:bg-primary/10 hover:text-primary transition-all">
                                    <div class="size-5"> <ng-icon name="lucideSquareUser"></ng-icon></div>
                                </button>
                                <button class="btn size-9 hover:bg-primary/10 hover:text-primary transition-all">
                                    <div class="size-5"> <ng-icon name="lucideBot"></ng-icon></div>
                                </button>
                                <button class="btn size-9 hover:bg-primary/10 hover:text-primary transition-all">
                                    <div class="size-5"> <ng-icon name="lucideUser"></ng-icon></div>
                                </button>
                                <button class="btn size-9 hover:bg-primary/10 hover:text-primary transition-all">
                                    <div class="size-5"> <ng-icon name="lucideScrollText"></ng-icon></div>
                                </button>
                            </div>

                            <div class="flex flex-col items-center gap-4">
                                <button class="btn size-9 hover:bg-primary/10 hover:text-primary transition-all">
                                    <div class="size-5"> <ng-icon name="lucideSettings"></ng-icon></div>
                                </button>

                                <div class="hs-dropdown relative">
                                    <button type="button" class="hs-dropdown-toggle flex justify-center items-center" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown" hs-dropdown-placement="top-end">
                                        <img src="assets/images/user/avatar-1.png" alt="avatar" class="rounded-md bg-pink-500/10 size-12 object-cover">
                                    </button>

                                    <div class="hs-dropdown-menu" role="menu">
                                        <a class="flex items-center gap-x-3.5 py-1.5 font-medium px-3 text-sm text-default-600 hover:bg-default-150 rounded" [routerLink]="[]">
                                            Logout
                                        </a>

                                        <a class="flex items-center gap-x-3.5 py-1.5 font-medium px-3 text-sm text-default-600 hover:bg-default-150 rounded" [routerLink]="[]">
                                            Switch Account
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="w-80">
                            <div class="card-body">
                                <div class="flex justify-between">
                                    <div class="flex gap-3 items-center">
                                        <h6 class="card-title">Chats</h6>
                                    </div>

                                    <button class="size-8 btn bg-default-150">
                                       <div class="size-4 text-default-500 hover:text-primary"> <ng-icon name="lucidePlus" ></ng-icon></div>
                                    </button>
                                </div>

                                <div class="mt-5 relative">
                                    <input type="email" class="ps-11 block w-full form-input form-input-sm" placeholder="Search for....">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-4">
                                        <div class="size-3.5 flex items-center text-default-500"><ng-icon name="lucideSearch"  ></ng-icon></div>
                                    </div>
                                </div>
                            </div>

                             <app-chat-list/>
                        </div>
                    </div>
                </div>
            </div>