<main>

    <app-page-title title="Leave Manage (Employee)" subtitle="Hr" />


    <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-5 mb-5">
        @for (item of leaveBalanceData; track $index) {
        <div class="card">
            <div class="card-body">
                <div class="flex items-center gap-3">
                    <div class="btn {{ item.color }} size-12">
                        <div class="size-6"><ng-icon [name]="item.icon"></ng-icon></div>
                    </div>

                    <div>
                        <h5 class="mb-1 text-base text-heading font-semibold">
                            <span class="counter-value" [attr.data-target]="item.value">{{ item.value }}</span>
                        </h5>
                        <p class="text-default-500">{{ item.label }}</p>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>

    <div class="grid grid-cols-1 gap-5 mb-5">
        <div class="card">
            <div class="card-header">
                <div class="relative">
                    <input type="email" class="ps-11  form-input form-input-sm" placeholder="Search for....">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3">
                        <div class="size-4 flex items-center text-default-500"> <ng-icon name="lucideSearch"></ng-icon></div>
                    </div>
                </div>

                <button class="btn btn-sm bg-primary text-white">
                    <div class="size-3.5 me-1"><ng-icon name="lucideDownload"></ng-icon></div> Export
                </button>
            </div>

            <div class="flex flex-col">
                <div class="overflow-x-auto">
                    <div class="min-w-full inline-block align-middle">
                        <div class="overflow-hidden">
                            <table class="min-w-full divide-y divide-default-200">
                                <thead class="bg-default-150">
                                    <tr class="text-sm font-normal whitespace-nowrap text-default-500">
                                        <th scope="col" class="px-3.5 py-3 text-start">
                                            #
                                        </th>
                                        <th scope="col" class="px-3.5 py-3 text-start">Leave Type</th>
                                        <th scope="col" class="px-3.5 py-3 text-start">Reason</th>
                                        <th scope="col" class="px-3.5 py-3 text-start">No Of Days</th>
                                        <th scope="col" class="px-3.5 py-3 text-start">From</th>
                                        <th scope="col" class="px-3.5 py-3 text-start">to</th>
                                        <th scope="col" class="px-3.5 py-3 text-start">Approved By</th>
                                        <th scope="col" class="px-3.5 py-3 text-start">Status</th>
                                        <th scope="col" class="px-3.5 py-3 text-end">Action</th>
                                    </tr>
                                </thead>

                                <tbody class="divide-y divide-default-200">
                                    @for (item of leaveHistoryData; track $index) {
                                    <tr class="text-default-800 font-normal whitespace-nowrap">
                                        <td class="px-3.5 py-2.5 text-sm">{{ item.id }}</td>
                                        <td class="px-3.5 py-2.5 text-sm">{{ item.type }}</td>
                                        <td class="px-3.5 py-2.5 text-sm">{{ item.reason }}</td>
                                        <td class="px-3.5 py-2.5 text-sm">{{ item.days }}</td>
                                        <td class="px-3.5 py-2.5 text-sm">{{ item.startDate }}</td>
                                        <td class="px-3.5 py-2.5 text-sm">{{ item.endDate }}</td>
                                        <td class="px-3.5 py-2.5 text-sm">{{ item.approvedBy }}</td>
                                        <td class="px-3.5 py-2.5">
                                            <span class="inline-flex items-center gap-x-1.5 py-0.5 px-2.5 rounded text-xs font-medium {{ item.status.color }}">
                                                {{ item.status.text }}
                                            </span>
                                        </td>
                                        <td class="px-3.5 py-2.5 flex items-center justify-end gap-2">
                                            @if (item.actions.edit) {
                                            <a [routerLink]="[]" class="btn size-8 bg-default-200 hover:bg-default-600 hover:text-white transition-all text-default-600">
                                                <div class="size-4"><ng-icon name="lucidePencil"></ng-icon></div>
                                            </a>
                                            }
                                            @if (item.actions.info) {
                                            <a [routerLink]="[]" class="btn size-8 bg-primary/20 hover:bg-primary text-primary hover:text-white">
                                                <div class="size-4"><ng-icon name="lucideInfo"></ng-icon></div>
                                            </a>
                                            }
                                        </td>
                                    </tr>
                                    }
                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <p class="text-default-500 text-sm">Showing <b>10</b> of <b>17</b> Results</p>
                    <app-pagination />
                </div>
            </div>
        </div>
    </div>
</main>