<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/title-meta') %>

   <%- include ('./partials/head-css') %>
</head>

<body>

    <div class="relative min-h-screen w-full flex justify-center items-center py-16 md:py-10">
        <div class="card md:w-lg w-screen z-10">
            <div class="text-center px-10 py-12">
                <!-- Logo -->
                <a href="/" class="flex justify-center">
                    <img src="assets/images/logo-dark.png" alt="logo dark" class="h-6 flex dark:hidden">
                    <img src="assets/images/logo-light.png" alt="logo light" class="h-6 hidden dark:flex" alt="">
                </a>

                <div class="mt-8">
                    <h4 class="mb-2 text-primary text-xl font-semibold">Set a New Password</h4>
                    <p class="text-base/normal mb-8 text-default-500">Your new password should be distinct from any of your prior passwords</p>
                </div>

                <form action="/">

                    <div class="text-start">
                        <label for="Email" class="inline-block mb-2 text-sm text-default-800 font-medium">Password</label>
                        <input type="text" id="Email" class="form-input" placeholder="Password" />
                    </div>

                    <div class="text-start mt-4">
                        <label for="Email" class="inline-block mb-2 text-sm text-default-800 font-medium">Confirm Password</label>
                        <input type="text" id="Email" class="form-input" placeholder="Confirm Password" />
                    </div>

                    <div class="flex items-center gap-2 mt-4">
                        <input id="checkbox-1" type="checkbox" class="form-checkbox">
                        <label class="text-default-900 text-sm font-medium" for="checkbox-1">Remember Me</label>
                    </div>

                    <div class="mt-8">
                        <button type="button" class="btn bg-primary text-white w-full">Reset Password</button>
                    </div>
                    <div class="mt-4 text-center">
                        <p class="text-base text-default-800">Hold on, I've got my password... <a href="/auth-basic-login" class="text-primary underline"> Click here </a></p>
                    </div>
                </form>
            </div>
        </div>


        <div class="absolute inset-0 overflow-hidden">
            <svg aria-hidden="true" class="absolute inset-0 size-full fill-black/2 stroke-black/5 dark:fill-white/2.5 dark:stroke-white/2.5">
                <defs>
                    <pattern id="authPattern" width="56" height="56" patternUnits="userSpaceOnUse" x="50%" y="16">
                        <path d="M.5 56V.5H72" fill="none"></path>
                    </pattern>
                </defs>
                <rect width="100%" height="100%" stroke-width="0" fill="url(#authPattern)"></rect>
            </svg>
        </div>
    </div>

</body>

</html>