<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/title-meta') %>

   <%- include ('./partials/head-css') %>
</head>

<body>

    <div class="bg-cover  bg-no-repeat bg-[url('../images/auth-bg.jpg')] dark:bg-[url('../images/auth-bg-dark.jpg')]  h-screen w-full flex justify-center items-center">
        <div class="relative">
            <div class="bg-card/70 rounded-lg w-lg relative">
                <div class="text-center px-10 py-12">
                    <a href="/" class="flex justify-center">
                        <img src="assets/images/logo-dark.png" alt="logo dark" class="h-6 block dark:hidden">
                        <img src="assets/images/logo-light.png" alt="logo light" class="h-6 hidden dark:block" alt="">
                    </a>

                    <div class="mt-8 text-center">
                        <h4 class="mb-3 text-xl font-semibold text-primary">Verify Email</h4>
                        <p class="text-base text-default-500 mb-4">Did you not receive an email? Please <a href="#" class="text-primary"> try again</a></p>

                        <button type="button" class="btn btn-sm bg-primary text-white">
                            Skip Now
                        </button>

                        <div class="pt-10 text-center">
                            <img src="assets/images/auth-email.png" alt="" class="block w-2/3 mx-auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>