<!DOCTYPE html>

@{
    var html_attributes = ViewBag.HTMLAttributes != null ? ViewBag.HTMLAttributes : "";
}

<html lang="en" @html_attributes>

<head>
    @await Html.PartialAsync("~/Views/Shared/Partials/_TitleMeta.cshtml")
    @RenderSection("styles", false)
    @await Html.PartialAsync("~/Views/Shared/Partials/_HeadCss.cshtml")
</head>
<body>
@RenderBody()
@RenderSection("scripts", required: false)
</body>
</html>