<!DOCTYPE html>

@{
    var html_attributes = ViewBag.HTMLAttributes != null ? ViewBag.HTMLAttributes : "";
}

<html lang="en" @html_attributes>

<head>
    @await Html.PartialAsync("~/Views/Shared/Partials/_TitleMeta.cshtml")
    @RenderSection("styles", false)
    @await Html.PartialAsync("~/Views/Shared/Partials/_HeadCss.cshtml")
</head>

<body>

<div class="wrapper">

    @await Html.PartialAsync("~/Views/Shared/Partials/_Sidenav.cshtml")

    <div class="page-content">

        @await Html.PartialAsync("~/Views/Shared/Partials/_Topbar.cshtml")

        <main>
            @RenderBody()
        </main>

        @await Html.PartialAsync("~/Views/Shared/Partials/_Footer.cshtml")

    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/Partials/_Customizer.cshtml")
@RenderSection("scripts", required: false)

</body>

</html>