<div class="card">
    <div class="card-header">
        <h6 class="card-title">Location-Based Response Times</h6>
        <button type="button" class="btn btn-sm bg-primary/20 text-primary text-nowrap hover:bg-primary hover:text-white">
            View More
            <div  class="size-4">
            <ng-icon name="lucideMoveRight"></ng-icon>
            </div>
        </button>
    </div>

    <div class="card-body">
        <div id="responseTimes"></div>
        <app-apexchart [getOptions]="locationChartOptions" />
    </div>
</div>