@{
    ViewBag.Title = "Starter Page";
    ViewBag.Subtitle = "Menu";
}

@section styles
{

}

@await Html.PartialAsync("~/Views/Shared/Partials/_PageTitle.cshtml")

<div class="card h-40">
</div>

@section scripts
{

}
