<div class="card">
    <div class="card-header">
        <h6 class="card-title">Sales Revenue Overview</h6>

        <div class="relative">
            <input type="text" mwlFlatpickr data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true" placeholder="Select Date" class="form-input form-input-sm ps-9" />
            <div class="absolute inset-y-0 start-0 flex items-center ps-3">
                <div class="size-4 text-default-500"><ng-icon name="lucideCalendarRange" ></ng-icon></div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="grid md:grid-cols-4 grid-cols-1 mb-3 gap-4">
            <div class="col-span-1">
                <div class="flex items-center gap-3">
                    <div class="btn size-12 bg-secondary/10">
                       <div class="text-secondary size-6">  <ng-icon name="lucideChartNoAxesColumnIncreasing" ></ng-icon></div>
                    </div>

                    <div>
                        <p class="mb-1.5 text-default-500 text-sm">Total Sales</p>
                        <h5 class="text-base font-semibold text-default-800">$<span data-target="1517.36">1,517.36</span>k</h5>
                    </div>
                </div>
            </div>

            <div class="col-span-1">
                <div class="flex items-center gap-3">
                    <div class="btn size-12 bg-success/10">
                       <div class="text-success size-6"> <ng-icon name="lucideTrendingUp" ></ng-icon></div> 
                    </div>

                    <div>
                        <p class="mb-1.5 text-default-500 text-sm">Total Profit</p>
                        <h5 class="text-base font-semibold text-default-800">$<span data-target="746.84">746.84</span>k</h5>
                    </div>
                </div>
            </div>
        </div>

        <app-apexchart [getOptions]="salesRevenueOptions" />
    </div>
</div>