<ngx-simplebar class="h-166">
  <div class="overflow-x-auto">
    <div class="min-w-full inline-block align-middle">
      <div class="overflow-hidden">
        <table class="w-full mail-list">
          <tbody class="divide-y divide-default-200">
            
            @for (email of emails; track email.id) {
              <tr class="text-sm" [class.text-default-500]="!email.isRead" [class.text-default-800]="email.isRead" data-hs-overlay="#emailOverview">
                <td class="py-2.5 ps-5">
                  <div class="flex items-center gap-3 h-5">
                    <input [id]="email.id" type="checkbox" class="form-checkbox checked:bg-primary">
                    <div class="size-4 text-default-500 hover:text-yellow-500">
                      <ng-icon name="lucideStar"></ng-icon>
                    </div>
                    <div class="size-4 text-default-500 hover:text-yellow-500">
                      <ng-icon name="lucideStepForward"></ng-icon>
                    </div>
                  </div>
                </td>
                <td class="px-3.5 py-2.5 whitespace-nowrap">{{ email.name }}</td>
                <td class="px-3.5 py-2.5 whitespace-nowrap">{{ email.message }}</td>
                <td class="px-3.5 py-2.5 whitespace-nowrap">{{ email.time }}</td>
              </tr>
            }

          </tbody>
        </table>
      </div>
    </div>
  </div>
</ngx-simplebar>
