<nav class="flex items-center gap-2" aria-label="Pagination">
    <button type="button" class="btn btn-sm border bg-transparent border-default-200 text-default-600 hover:bg-primary/10 hover:text-primary hover:border-primary/10">
        <div class="size-4 me-1"> <ng-icon name="lucideChevronLeft"></ng-icon></div> Prev
    </button>

    <button type="button" class="btn size-7.5 bg-transparent  border border-default-200 text-default-600 hover:bg-primary/10 hover:text-primary hover:border-primary/10">
        1
    </button>

    <button type="button" class="btn size-7.5 bg-primary text-white">
        2
    </button>

    <button type="button" class="btn size-7.5 bg-transparent  border border-default-200 text-default-600 hover:bg-primary/10 hover:text-primary hover:border-primary/10">
        3
    </button>

    <button type="button" class="btn btn-sm border bg-transparent border-default-200 text-default-600 hover:bg-primary/10 hover:text-primary hover:border-primary/10">Next
        <div class="size-4 ms-1"> <ng-icon name="lucideChevronRight"></ng-icon></div>
    </button>
</nav>