<div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-5">
  @for (stat of stats; track $index) {
  <div class="card">
    <div class="card-body">
      <div
        class="flex items-center justify-center mx-auto rounded-full size-14 {{ stat.bgClass }}">
        <div class="size-6 {{ stat.textClass }}">
          <ng-icon [name]="stat.icon"></ng-icon>
        </div>
      </div>
      <h5 class="mt-4 text-center mb-2 text-default-800 font-semibold text-lg">
        {{ stat.prefix ? stat.prefix + ' ' : '' }}<span [attr.data-target]="stat.value">{{ stat.value }}</span>{{ stat.suffix || '' }}
      </h5>
      <p class="text-center text-sm text-default-500">{{ stat.label }}</p>
    </div>
  </div>
  }
</div>
