<div class="grid lg:grid-cols-5 md:grid-cols-2 grid-cols-1 gap-5 mb-5">
  @for (card of orderInfoCards; track card.label) {
    <div class="card text-center">
      <div class="card-body">
        @if (card.isBadge) {
          <span class="{{ card.badgeClass }}">{{ card.value }}</span>
        }
        @else {
          <h6 class="mb-1 text-default-800 font-semibold text-sm">{{ card.value }}</h6>
        }

        <p class="uppercase text-default-500 text-sm">{{ card.label }}</p>
      </div>
    </div>
  }
</div>
