<apx-chart
  [chart]="options.chart!"
  [annotations]="options.annotations!"
  [colors]="options.colors!"
  [dataLabels]="options.dataLabels!"
  [series]="options.series!"
  [stroke]="options.stroke!"
  [labels]="options.labels!"
  [legend]="options.legend!"
  [fill]="options.fill!"
  [tooltip]="options.tooltip!"
  [plotOptions]="options.plotOptions!"
  [responsive]="options.responsive!"
  [xaxis]="options.xaxis!"
  [yaxis]="options.yaxis!"
  [grid]="options.grid!"
  [states]="options.states!"
  [title]="options.title!"
  [subtitle]="options.subtitle!"
  [theme]="options.theme!"
  [markers]="options.markers!"
/>
