<div class="card">
    <div class="card-header">
        <h6 class="card-title">Upcoming Scheduled</h6>
    </div>

    <div class="card-body">
        <div class="flex flex-col gap-4">

            @for (event of events; track $index) {
            <div class="flex gap-3">
                <div class="flex flex-col items-center justify-center border rounded-sm size-12 border-default-200">
                    <h6 class="text-default-800 font-semibold">{{ event.date }}</h6>
                    <span class="text-default-500">{{ event.month }}</span>
                </div>

                <div>
                    <h6 class="mb-1 text-default-900 text-sm font-medium">
                        {{ event.title }}
                        @if (event.time) {
                        <small class="px-2 font-medium rounded text-xs py-0.5 bg-default-100 text-default-500">
                            {{ event.time }}
                        </small>
                        }
                    </h6>
                    <p class="text-default-500">Created by {{ event.createdBy }}</p>
                </div>
            </div>
            }

        </div>

        <div class="flex gap-3 p-2 mt-4 rounded-md bg-primary">
            <img src="assets/images/support.png" alt="" class="h-24">
            <div>
                <h6 class="mb-1 text-base text-white">Need Help ?</h6>
                <p class="text-white">If you would like to learn more about transferring the license to a customer</p>
            </div>
        </div>
    </div>

</div>