<div class="hs-accordion-group" data-hs-accordion-always-open="">
    <div class="hs-accordion active mt-4" id="hs-basic-with-title-and-arrow-stretched-heading-one">
        <button class="hs-accordion-toggle underline inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start text-default-800  rounded-lg disabled:opacity-50 text-sm disabled:pointer-events-none" aria-expanded="true" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-one">
            Color
            <div class="size-4 text-base hs-accordion-active:hidden block"><ng-icon name="lucideChevronDown"></ng-icon></div>
            <div class="size-4 text-base hs-accordion-active:block hidden"> <ng-icon name="lucideChevronUp"></ng-icon></div>
        </button>

        <div id="hs-basic-with-title-and-arrow-stretched-collapse-one" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-one">
            <div class="mt-4 flex gap-2">
                @for (color of colors; track color.id) {
                <input type="checkbox" [id]="color.id" value="" class="size-5 cursor-pointer rounded-sm border {{color.border}} {{color.bg}} {{color.checked}} focus:ring-0" />
                }
            </div>
        </div>
    </div>

    <div class="hs-accordion active mt-4" id="hs-basic-with-title-and-arrow-stretched-heading-two">
        <button class="hs-accordion-toggle underline inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start text-default-800  rounded-lg disabled:opacity-50 text-sm disabled:pointer-events-none" aria-expanded="true" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-two">
            Price
            <div class="size-4 text-base hs-accordion-active:hidden block"><ng-icon name="lucideChevronDown"></ng-icon></div>
            <div class="size-4 text-base hs-accordion-active:block hidden"> <ng-icon name="lucideChevronUp"></ng-icon></div>
        </button>

        <div id="hs-basic-with-title-and-arrow-stretched-collapse-two" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-two">
            <div class="mt-4 flex gap-2 flex-col">
                @for (filter of priceFilters; track filter.id) {
                <div class="flex gap-2 items-center">
                    <input type="checkbox" class="form-checkbox checked:bg-primary" [id]="filter.id" />
                    <label [for]="filter.id" class="text-sm text-default-800 align-middle cursor-pointer">
                        {{ filter.label }}
                    </label>
                </div>
                }
            </div>
        </div>
    </div>

    <div class="hs-accordion active mt-4" id="hs-basic-with-title-and-arrow-stretched-heading-three">
        <button class="hs-accordion-toggle underline inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start text-default-800  rounded-lg disabled:opacity-50 text-sm disabled:pointer-events-none" aria-expanded="true" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-three">
            Product Category
            <div class="size-4 text-base hs-accordion-active:hidden block"><ng-icon name="lucideChevronDown"></ng-icon></div>
            <div class="size-4 text-base hs-accordion-active:block hidden"> <ng-icon name="lucideChevronUp"></ng-icon></div>
        </button>
        <div id="hs-basic-with-title-and-arrow-stretched-collapse-three" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-three">
            <div class="mt-4 flex gap-2 flex-col">
                @for (cat of categories; track cat.id) {
                <div class="flex gap-2 items-center">
                    <input type="checkbox" class="form-checkbox checked:bg-primary" [id]="cat.id" />
                    <label [for]="cat.id" class="text-sm text-default-800 align-middle cursor-pointer">
                        {{ cat.label }}
                    </label>
                </div>
                }
            </div>
        </div>
    </div>

    <div class="hs-accordion active mt-4" id="hs-basic-with-title-and-arrow-stretched-heading-four">
        <button class="hs-accordion-toggle underline inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start text-default-800  rounded-lg disabled:opacity-50 text-sm disabled:pointer-events-none" aria-expanded="true" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-four">
            Rating
            <div class="size-4 text-base hs-accordion-active:hidden block"><ng-icon name="lucideChevronDown"></ng-icon></div>
            <div class="size-4 text-base hs-accordion-active:block hidden"> <ng-icon name="lucideChevronUp"></ng-icon></div>
        </button>
        <div id="hs-basic-with-title-and-arrow-stretched-collapse-four" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-four">
            <div class="mt-4 flex gap-2 flex-col">
                @for (rating of ratings; track rating.id) {
                <div class="flex gap-2 items-center">
                    <input type="checkbox" class="form-checkbox checked:bg-primary" [id]="rating.id" />
                    <label [for]="rating.id" class="text-sm flex items-center gap-1 text-default-800 align-middle cursor-pointer">
                        @if (rating.stars) {
                        <div class="text-yellow-500 size-4 ms-1">
                            <ng-icon name="lucideStar"></ng-icon>
                        </div>
                        }
                        {{ rating.label }}
                    </label>
                </div>
                }
            </div>

        </div>
    </div>

    <div class="hs-accordion mt-4" id="hs-basic-with-title-and-arrow-stretched-heading-five">
        <button class="hs-accordion-toggle underline inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start text-default-800  rounded-lg disabled:opacity-50 text-sm disabled:pointer-events-none" aria-expanded="true" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-five">
            Gender
            <div class="size-4 text-base hs-accordion-active:hidden block"><ng-icon name="lucideChevronDown"></ng-icon></div>
            <div class="size-4 text-base hs-accordion-active:block hidden"> <ng-icon name="lucideChevronUp"></ng-icon></div>
        </button>
        <div id="hs-basic-with-title-and-arrow-stretched-collapse-five" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-five">
            <div class="mt-4 flex gap-2 flex-col">
                @for (gender of genders; track gender.id) {
                <div class="flex gap-2 items-center">
                    <input type="checkbox" class="form-checkbox checked:bg-primary" [id]="gender.id" [value]="gender.value" />
                    <label [for]="gender.id" class="text-sm text-default-800 align-middle cursor-pointer">
                        {{ gender.label }}
                    </label>
                </div>
                }
            </div>

        </div>
    </div>
</div>