<div class="flex justify-between gap-2 flex-wrap items-center">
                <p class="text-default-700 text-sm">Showing all <b>7,410</b> items results</p>

                <div class="flex gap-2 items-center">
                    <div class="hs-dropdown relative inline-flex">
                        <button type="button" class="hs-dropdown-toggle inline-flex items-center btn btn-sm  bg-transparent border border-primary text-primary transition-all duration-300 hover:bg-primary hover:text-white" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown" hs-dropdown-placement="bottom-end">
                            Sort by:<b class="font-medium">Highest Price</b>
                            <div class="size-4 ms-2"><ng-icon name="lucideChevronDown"></ng-icon></div>
                        </button>
                        <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-40 card z-30 mt-2 p-2 text-sm" role="menu">
                            <a class="flex items-center gap-x-3.5 py-2 font-medium px-4 text-default-600 hover:bg-default-150 rounded" [routerLink]="[]">
                                Lowest Price
                            </a>
                            <a class="flex items-center gap-x-3.5 py-2 font-medium px-4 text-default-600 hover:bg-default-150 rounded" [routerLink]="[]">
                                Highest Price
                            </a>
                            <a class="flex items-center gap-x-3.5 py-2 font-medium px-4 text-default-600 hover:bg-default-150 rounded" [routerLink]="[]">
                                High to Low
                            </a>
                            <hr class="border-t border-default-200 my-2 -mx-2">
                            <a class="flex items-center gap-x-3.5 py-2 font-medium px-4 text-default-600 hover:bg-default-150 rounded" [routerLink]="[]">
                                Low to High
                            </a>
                        </div>
                    </div>

                    <nav class="flex gap-x-1" aria-label="Tabs" role="tablist" aria-orientation="horizontal">
                        <button type="button" class="hs-tab-active:font-semibold hs-tab-active:bg-sky-600 hs-tab-active:text-white btn size-7.5 bg-sky-100 text-sky-500 hover:text-white hover:bg-sky-600" id="items-1" aria-selected="false" data-hs-tab="#item-1" aria-controls="item-1" role="tab">
                            <div class="size-4"><ng-icon name="lucideList"  ></ng-icon></div>
                        </button>

                        <button type="button" class="hs-tab-active:font-semibold hs-tab-active:bg-sky-600 hs-tab-active:text-white btn size-7.5 bg-sky-100 text-sky-500 hover:text-white hover:bg-sky-600 active" id="items-2" aria-selected="true" data-hs-tab="#item-2" aria-controls="item-2" role="tab">
                            <div  class="size-4"><ng-icon name="lucideLayoutGrid" ></ng-icon></div>
                        </button>
                    </nav>
                </div>

            </div>