<section class="relative z-20 pb-32 bg-default-100 dark:bg-default-950">
    <div class="container">

        <div class="grid lg:grid-cols-3 gap-6">
            @for (item of servicesCards; track $index) {
            <div class="card rounded-md shadow-md transition-all duration-300 hover:-translate-y-2 -mt-36">
                <div class="card-body">
                    <div class="flex flex-col gap-y-6">
                        <img [src]="item.image" alt="" class="rounded-md shadow" />
                        <div>
                            <span [class]="item.tag.class">{{ item.tag.label }}</span>

                            <h6 class="text-lg font-semibold mt-3 mb-2 text-default-800">
                                <a [routerLink]="item.link">{{ item.title }}</a>
                            </h6>

                            <p class="mb-3 text-base text-default-500">{{ item.description }}</p>

                            <a [routerLink]="item.link" class="text-primary text-base flex items-center gap-1.5">
                                Read More
                                <div class="size-4"><ng-icon name="lucideMoveRight"></ng-icon></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>


        <app-counter />

    </div>
</section>