<div id="employeeEdit" class="hs-overlay hidden size-full fixed top-0 start-0 z-80 overflow-x-hidden overflow-y-auto pointer-events-none" role="dialog" tabindex="-1" aria-labelledby="employeeEditlabel">
            <div class="hs-overlay-animation-target hs-overlay-open:scale-100 hs-overlay-open:opacity-100 scale-95 opacity-0 ease-in-out transition-all duration-200 max-w-md lg:w-full m-3 mx-auto min-h-[calc(100%-56px)] flex items-center">
                <div class="w-full flex flex-col card border border-default-200 shadow-2xs rounded-xl pointer-events-auto">
                    <div class="card-header">
                        <h3 id="employeeEditlabel" class="font-semibold text-base text-default-800">
                            Edit Employee Data
                        </h3>

                        <button type="button" aria-label="Close" data-hs-overlay="#employeeEdit">
                            <span class="sr-only">Close</span>
                            <div class="size-5"><ng-icon name="lucideX" ></ng-icon></div>
                        </button>
                    </div>

                    <div class="card-body overflow-y-auto lg:h-full h-160">
                        <div class="grid grid-cols-1 gap-6 lg:grid-cols-12">
                           
                            <div class="lg:col-span-12 flex justify-center">
                                <div class="relative mx-auto mb-4 rounded-full shadow-md size-24 bg-default-200">
                                    <img src="assets/images/user/user-dummy-img.jpg" alt="Profile" class="object-cover w-full h-full rounded-full user-profile-image">

                                    <div class="absolute bottom-0 right-0 flex items-center justify-center rounded-full size-8 bg-default-50 shadow-lg cursor-pointer">
                                        <input id="profile-img-file-input" name="profile-img-file-input" type="file" class="hidden">
                                        <label for="profile-img-file-input" class="flex items-center justify-center w-full h-full rounded-full cursor-pointer">
                                            <div class="size-4 text-default-400"><ng-icon name="lucideImagePlus" ></ng-icon></div>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="lg:col-span-12">
                                <label for="employeeId" class="block mb-2 text-sm font-medium text-default-700">Employee
                                    ID</label>
                                <input type="text" id="employeeId" value="#TWE1001528" class="form-input" disabled>
                            </div>

                            
                            <div class="lg:col-span-12">
                                <label for="employeeInput" class="block mb-2 text-sm font-medium text-default-700">Name</label>
                                <input type="text" id="employeeInput" placeholder="Employee name" value="Willie Torres" class="form-input">
                            </div>

                            
                            <div class="lg:col-span-12">
                                <label for="emailInput" class="block mb-2 text-sm font-medium text-default-700">Email</label>
                                <input type="email" id="emailInput" placeholder="example@tailwick.com" value="willie@tailwick.com" class="form-input">
                            </div>

                            
                            <div class="lg:col-span-6">
                                <label for="phoneNumberInput" class="block mb-2 text-sm font-medium text-default-700">Phone
                                    Number</label>
                                <input type="text" id="phoneNumberInput" placeholder="Enter phone number" value="070 3715 3689" class="form-input">
                            </div>

                            
                            <div class="lg:col-span-6">
                                <label for="locationInput" class="block mb-2 text-sm font-medium text-default-700">Location</label>
                                <input type="text" id="locationInput" placeholder="Enter location" class="form-input">
                            </div>

                            
                            <div class="lg:col-span-6">
                                <label for="joiningDateInput" class="block mb-2 text-sm font-medium text-default-700">Joining
                                    Date</label>
                                <input type="date" id="joiningDateInput" value="05 Feb, 2020" class="form-input">
                            </div>

                           
                            <div class="lg:col-span-6">
                                <label for="experienceInput" class="block mb-2 text-sm font-medium text-default-700">Experience</label>
                                <input type="text" id="experienceInput" placeholder="0.0" class="form-input">
                            </div>

                          
                            <div class="lg:col-span-12">
                                <label for="designationSelect" class="block mb-2 text-sm font-medium text-default-700">Designation</label>
                                <select id="designationSelect" class="form-input">
                                    <option selected>Angular Developer</option>
                                    <option>ASP.Net Developer</option>
                                    <option>NodeJS Developer</option>
                                    <option>Project Manager</option>
                                    <option>React Developer</option>
                                    <option>Team Leader</option>
                                    <option>UI / UX Designer</option>
                                    <option>VueJs Developer</option>
                                    <option>Web Designer</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer flex justify-end gap-2">
                        <button type="button" class="btn bg-transparent border-0  text-danger hover:bg-danger/10" data-hs-overlay="#employeeEdit">
                            Cancel
                        </button>

                        <button type="button" class="btn bg-primary text-white">
                            Update
                        </button>
                    </div>
                </div>
            </div>
        </div>