<div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-5 mb-5">
    @for (card of statCards; track $index) {
    <div class="card">
        <div class="card-body">
            <div class="flex items-center gap-3">
                <div class="btn {{card.textColor}} {{card.bgColor}} size-12">
                    <div class="size-6"><ng-icon [name]="card.icon"></ng-icon></div>
                </div>

                <div>
                    <h5 class="mb-1 text-base text-heading font-semibold">
                        <span class="counter-value" [attr.data-target]="card.value">{{ card.value }}</span>
                    </h5>
                    <p class="text-default-500">{{ card.label }}</p>
                </div>
            </div>
        </div>
    </div>
    }
</div>
