<div class="card">
    <div class="card-body">
        <div class="grid grid-cols-1 gap-5 divide-y md:divide-x md:divide-y-0 md:grid-cols-2 lg:grid-cols-4 divide-default-200">

            @for (metric of metrics; track $index) {
            <div class="{{ metric.paddingClass }} {{ metric.borderClass }}">
                <div class="grid grid-cols-3 mb-4">
                    <div class="text-default-500 text-sm w-36 shrink-0">
                        <div class="flex items-center gap-1.5 mb-6">
                            <div class="size-4"><ng-icon [name]="metric.icon"></ng-icon></div>
                            <p class="uppercase">{{ metric.label }}</p>
                        </div>
                        <h5 class="text-default-800 text-lg font-semibold">
                            <span class="counter-value" [attr.data-target]="metric.value">{{ metric.value }}</span>{{ metric.unit || '' }}
                        </h5>
                    </div>

                    <div class="col-span-2">
                        <app-apexchart [getOptions]="$any(this)[metric.chartOptions]" />
                    </div>
                </div>
                <span class="text-default-500">{{ metric.footer }}</span>
            </div>
            }

        </div>
    </div>
</div>