<div class="card">
    <div class="card-header">
        <h6 class="card-title">Platform Perspective</h6>

        <div class="flex">
            <select class="form-input form-input-sm border-default-400 bg-transparent border-dashed">
                <option selected="">This Yearly</option>
                <option>1 Weekly</option>
                <option>1 Monthly</option>
                <option>3 Monthly</option>
                <option>6 Monthly</option>
                <option>This Yearly</option>
            </select>
        </div>
    </div>

    <div class="card-body">
        <app-apexchart [getOptions]="platformPerspectiveOptions" />
    </div>
</div>