<div class="card">
  <div class="card-header">
    <h6 class="card-title">Traffic Source</h6>
    <a [routerLink]="[]" class="text-primary underline">See More</a>
  </div>

  <div class="card-body">
    <div class="flex flex-col gap-5">
      @for (source of trafficSources; track $index) {
      <div>
        <div class="flex items-center justify-between gap-4 mb-2 text-sm">
          <h6 class="text-default-900">{{ source.name }}</h6>
          <span class="text-default-500">{{ source.value }}</span>
        </div>
        <div class="w-full h-3.5 rounded bg-default-200">
          <div class="h-3.5 rounded {{ source.colorClass }}" [style.width]="source.percent"></div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
