<div class="card mt-5">
  <div class="card-body">
    <div class="flex justify-between gap-5 items-center mb-4">
      <h6 class="card-title">Order Status</h6>
      <div class="flex items-center gap-3">
        <a [routerLink]="[]" class="text-danger underline text-sm">Cancelled Order</a>
        <a routerLink="/invoice/overview" class="btn btn-sm bg-primary text-white">
          <div class="size-4 me-1"><ng-icon name="lucideDownload"></ng-icon></div>
          Invoice
        </a>
      </div>
    </div>

    <div>
      @for (status of orderStatusList; track status.title; let isLast = $last) {
        <div
         class="relative px-6 pb-4 after:absolute after:size-2 after:bg-primary after:rounded-full after:start-0 after:end-0 after:top-1.5"
          [class]="!isLast ? 'before:absolute before:border-s before:start-0.75 before:border-primary before:end-0.75 before:top-1.5 before:-bottom-1.5' : ''">
          <div class="flex justify-between">
            <div>
              <h6 class="mb-2 card-title">{{ status.title }}</h6>
              <p class="text-default-500 text-sm">{{ status.description }}</p>
            </div>
            <p class="text-[13px] text-default-400">{{ status.date }}</p>
          </div>
        </div>
      }
    </div>
  </div>
</div>
