<% @title = "Dark Mode" %>

<% @html_attributes = "data-theme=dark" %>

<%= render 'layouts/partials/page_title', subtitle: "Layouts", title: "Dark Mode" %>

<div class="card h-40">
</div>

<% content_for :javascript do %>
<% end %>
