<% @title = "Offcavas Sidenav" %>

<% @html_attributes = "data-sidenav-size=offcanvas" %>

<%= render 'layouts/partials/page_title', subtitle: "Layouts", title: "Offcavas Sidenav (Mobile View)" %>

<div class="card h-40">
</div>

<% content_for :javascript do %>
<% end %>
