<% @title = "Small Sidenav" %>

<% @html_attributes = "data-sidenav-size=sm" %>

<%= render 'layouts/partials/page_title', subtitle: "Layouts", title: "Small Sidenav" %>

<div class="card h-40">
</div>

<% content_for :javascript do %>
<% end %>
