<% @title = "Hover View Sidenav" %>

<% @html_attributes = "data-sidenav-size=hover" %>

<%= render 'layouts/partials/page_title', subtitle: "Layouts", title: "Hover View Sidenav" %>

<div class="card h-40">
</div>

<% content_for :javascript do %>
<% end %>
