<% @title = "Hover Active Sidenav" %>

<% @html_attributes = "data-sidenav-size=hover-active" %>

<%= render 'layouts/partials/page_title', subtitle: "Layouts", title: "Hover Active Sidenav" %>

<div class="card h-40">
</div>

<% content_for :javascript do %>
<% end %>
