<div class="card mt-5">
    <div class="card-body">
        <div class="flex justify-between gap-5 items-center">
            <h6 class="mb-4 card-title">Orders Summary</h6>
            <a [routerLink]="[]" class="text-danger text-sm underline">Cancelled Order</a>
        </div>

        <div>
            @for(item of cartItems; track $index){
            <div class="flex justify-between items-center gap-5 py-4 border-b border-dashed border-default-200">
                <div class="flex items-center gap-3">
                    <div class="btn rounded-md size-12 bg-default-100">
                        <img [src]="item.image" alt="" class="h-8">
                    </div>

                    <div>
                        <h6 class="mb-1 card-title">
                            <a [href]="item.link" class="transition-all duration-300 ease-linear hover:text-primary">{{ item.name }}</a>
                        </h6>
                        <p class="text-default-500 text-sm">${{ item.unitPrice }} x {{ item.quantity }}</p>
                    </div>
                </div>
                <span class="text-sm">${{ item.totalPrice }}</span>
            </div>
            }

            <div class="flex justify-between items-center gap-5 py-3 text-sm">
                <span class="text-default-500">Sub Total </span>
                <span class="text-default-800">$932.16</span>
            </div>

            <div class="flex justify-between items-center gap-5 py-3 text-sm">
                <span class="text-default-500">Estimated Tax (18%) </span>
                <span class="text-default-800">$167.79</span>
            </div>

            <div class="flex justify-between items-center gap-5 py-3 text-sm">
                <span class="text-default-500">Item Discounts (12%)</span>
                <span class="text-default-800">-$111.86</span>
            </div>

            <div class="flex justify-between items-center gap-5 py-3 text-sm">
                <span class="text-default-500">Shipping Charge </span>
                <span class="text-default-800">$0</span>
            </div>

            <div class="flex justify-between items-center gap-5 pt-4 font-semibold text-sm">
                <span class="text-default-500">Total Amount (USD) </span>
                <span class="text-default-800">$988.09</span>
            </div>
        </div>
    </div>
</div>