<main>
   <app-page-title title="Calendar" subtitle="Menu" />
  <div class="grid lg:grid-cols-4 gap-5">
    <div class="lg:col-span-3">
      <div class="card">
        <div class="card-body">
          <full-calendar #calendar [options]="calendarOptions"></full-calendar>
        </div>
      </div>
    </div>

    <div class="col-span-1">
      <div class="card">
        <div class="card-body">
          <h6 class="mb-4 text-15">Draggable Events</h6>
          <div id="external-events" class="flex flex-col gap-3">

            <p class="text-default-400">
              Drag and drop your event or click in the calendar
            </p>

            <div class="external-event fc-event text-success" data-class="!text-success">
              <div class="me-2 size-4"><ng-icon name="tablerCircleFill"></ng-icon></div>
              New Event Planning
            </div>

            <div class="external-event fc-event text-info" data-class="!text-info">
              <div class="me-2 size-4"><ng-icon name="tablerCircleFill"></ng-icon></div>
              Meeting
            </div>

            <div class="external-event fc-event text-warning" data-class="!text-warning">
              <div class="me-2 size-4"><ng-icon name="tablerCircleFill"></ng-icon></div>
              Generating Reports
            </div>

            <div class="external-event fc-event text-danger" data-class="!text-danger">
              <div class="me-2 size-4"><ng-icon name="tablerCircleFill"></ng-icon></div>
              Create New theme
            </div>

            <div class="flex items-center gap-2">
              <input id="drop-remove" class="form-checkbox" type="checkbox" />
              <label for="drop-remove" class="align-middle cursor-pointer">
                Remove after drop
              </label>
            </div>

            <div class="flex items-center gap-2">
              <input id="businessCalendar" class="form-checkbox" type="checkbox" />
              <label for="businessCalendar" class="align-middle cursor-pointer">
                Business Hours & Week
              </label>
            </div>

            <div class="flex items-center gap-2">
              <input id="weekNumberCalendar" class="form-checkbox" type="checkbox" />
              <label for="weekNumberCalendar" class="align-middle cursor-pointer">
                Week Number
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<div
  id="event-modal"
  class="hs-overlay hidden size-full fixed top-0 start-0 z-80 overflow-x-hidden overflow-y-auto pointer-events-none"
  role="dialog"
  tabindex="-1"
  aria-labelledby="event-modal-label"
>
  <div
    class="hs-overlay-animation-target hs-overlay-open:scale-100 hs-overlay-open:opacity-100 scale-95 opacity-0 ease-in-out transition-all duration-200 sm:max-w-lg sm:w-full m-3 sm:mx-auto min-h-[calc(100%-56px)] flex items-center"
  >
    <div
      class="card w-full flex flex-col border border-default-200 shadow-2xs rounded-xl pointer-events-auto"
    >
      <div class="card-header flex justify-between items-center">
        <h3
          id="modal-title"
          class="font-semibold text-base text-default-800 dark:text-white"
        >
          Add Event
        </h3>
        <button
          type="button"
          class="size-5 text-default-800"
          aria-label="Close"
          (click)="closeHSModal('#event-modal')"
        >
          <span class="sr-only">Close</span>
          <div class="size-5"><ng-icon name="lucideX"></ng-icon></div>
        </button>
      </div>

      <form
        class="needs-validation"
        name="event-form"
        id="form-event"
        autocomplete="off"
      >
        <div class="card-body">
          <div class="grid grid-cols-1 gap-4 xl:grid-cols-12">
            <div class="xl:col-span-12">
              <label
                for="event-title"
                class="inline-block mb-2 text-base font-medium"
                >Event Name</label
              >
              <input
                type="text"
                id="event-title"
                class="form-input"
                placeholder="Event name"
                [(ngModel)]="currentEventTitle"
                name="title"
                required
              />
            </div>

            <div class="xl:col-span-12">
              <label
                for="event-category"
                class="inline-block mb-2 text-base font-medium"
                >Category</label
              >
              <select
                class="form-input flex items-center"
                id="event-category"
                [(ngModel)]="currentEventVariant"
                name="category"
                required
              >
                <option value="!text-primary">Primary</option>
                <option value="!text-success">Success</option>
                <option value="!text-info">Info</option>
                <option value="!text-warning">Warning</option>
                <option value="!text-danger">Danger</option>
              </select>
            </div>
          </div>
        </div>

        <div class="card-footer flex gap-2 md:justify-end">
          <button
            type="button"
            (click)="closeHSModal('#event-modal')"
            class="bg-transparent text-danger btn border-0 hover:bg-red-50"
          >
            Cancel
          </button>

          <button
            type="button"
            (click)="deleteEvent()"
            class="bg-transparent text-danger btn border-0 hover:bg-red-50"
          >
            Delete
          </button>

          <button
            type="button"
            (click)="saveEvent()"
            class="btn bg-primary text-white"
          >
            Save Event
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
