<footer class="relative md:pt-20 pt-12 md:pb-0 border-t border-default-200">
    <div class="absolute -top-16 start-0 size-64 bg-purple-500/10 blur-3xl"></div>
    <div class="container">
        <div class="grid grid-cols-12 md:gap-12 gap-6">
            <div class="lg:col-span-4 col-span-12">
                <div class="mb-5">
                    <a [routerLink]="[]">
                        <img src="assets/images/logo-dark.png" alt="logo dark" class="h-7 block dark:hidden">
                        <img src="assets/images/logo-light.png" alt="logo light" class="h-7 hidden dark:block" alt="">
                    </a>
                </div>

                <p class="mb-5 text-sm text-default-500">
                    Premium Multipurpose Admin & Dashboard Template You can build any type of web application like eCommerce, CRM, CMS, Project management apps, Admin Panels, etc using Tailwick.
                </p>

                <div class="flex flex-wrap gap-3 md:mt-0 mt-5">
                    <button type="button" class="size-10 border btn border-default-200 bg-transparent rounded-full  text-default-500 hover:text-primary">
                        <div class="size-4"><ng-icon name="lucideFacebook"></ng-icon></div>
                    </button>

                    <button type="button" class="size-10 border btn border-default-200 bg-transparent rounded-full  text-default-500 hover:text-primary">
                        <div class="size-4"><ng-icon name="lucideLinkedin"></ng-icon></div>
                    </button>

                    <button type="button" class="size-10 border btn border-default-200 bg-transparent rounded-full  text-default-500 hover:text-primary">
                        <div class="size-4"> <ng-icon name="lucideInstagram"></ng-icon></div>
                    </button>

                    <button type="button" class="size-10 border btn border-default-200 bg-transparent rounded-full  text-default-500 hover:text-primary">
                        <div class="size-4"><ng-icon name="lucideTwitter"></ng-icon></div>
                    </button>

                    <button type="button" class="size-10 border btn border-default-200 bg-transparent rounded-full  text-default-500 hover:text-primary">
                        <div class="size-4"><ng-icon name="lucideYoutube"></ng-icon></div>
                    </button>
                </div>
            </div>

            <div class="lg:col-span-3 md:col-span-4 col-span-12">
                <h5 class="mb-4 font-medium text-lg text-default-700">{{ dashboards.title }}</h5>
                <ul class="flex flex-col gap-y-3 text-sm">
                    @for (link of dashboards.links; track $index) {
                    <li>
                        <a [routerLink]="link.routerLink" class="relative inline-block transition-all duration-200 ease-linear text-default-600 hover:text-default-900
           before:absolute before:border-b before:border-default-200 before:inset-x-0 before:bottom-0 before:w-0
           hover:before:w-full before:transition-all before:duration-300 before:ease-linear">
                            {{ link.label }}
                        </a>
                    </li>
                    }
                </ul>
            </div>

            <div class="lg:col-span-3 md:col-span-4 col-span-12">
                <h5 class="mb-4 font-medium text-lg text-default-700">{{ aboutUs.title }}</h5>
                <ul class="flex flex-col gap-y-3 text-sm">
                    @for (link of aboutUs.links; track $index) {
                    <li>
                        <a [routerLink]="link.routerLink" class="relative inline-block transition-all duration-200 ease-linear text-default-600 hover:text-default-900
           before:absolute before:border-b before:border-default-200 before:inset-x-0 before:bottom-0 before:w-0
           hover:before:w-full before:transition-all before:duration-300 before:ease-linear">
                            {{ link.label }}
                        </a>
                    </li>
                    }
                </ul>
            </div>

            <div class="lg:col-span-2 md:col-span-4 col-span-12">
                <h5 class="mb-4 font-medium text-lg text-default-700">{{ getHelp.title }}</h5>
                <ul class="flex flex-col gap-y-3 text-sm">
                    @for (link of getHelp.links; track $index) {
                    <li>
                        <a [routerLink]="link.routerLink" class="relative inline-block transition-all duration-200 ease-linear text-default-600 hover:text-default-900
           before:absolute before:border-b before:border-default-200 before:inset-x-0 before:bottom-0 before:w-0
           hover:before:w-full before:transition-all before:duration-300 before:ease-linear">
                            {{ link.label }}
                        </a>
                    </li>
                    }
                </ul>
            </div>

        </div>
    </div>

    <div class="lg:py-10 py-6 mt-12 text-center text-default-500 text-base border-t border-default-200">
        <p>2025 © Tailwick. Design & Develop by <a href="https://themesdesign.in/" target="_blank" class="underline text-default-800 font-bold transition-all hover:text-primary">Themesdesign</a></p>
    </div>
</footer>