                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title">Order Statistics</h6>
                                <a [routerLink]="[]" class="btn btn-sm border-0 text-primary/90 hover:text-primary">View All
                                    <div class="ms-1 size-4"><ng-icon name="lucideMoveRight" ></ng-icon></div>
                                </a>
                            </div>

                            <div class="card-body">
                                <app-apexchart [getOptions]="orderChartOptions" />
                            </div>
                        </div>